﻿<div class="container-fluid pickup-info-page">
    <div class="row" ng-show="orderPickup.isChecking">
        <div class="col-md-12 nopadding">
            <i class="fa fa-spinner spinning"></i>
        </div>
    </div>
    <div ng-hide="orderPickup.isChecking">
        <div class="row">
            <div class="col-md-12 nopadding">
                <p class="paragraph">{{'ORDER_PICKUP_TITLE' | translate}}</p>
            </div>
        </div>
        <div class="row border-t-b">
            <div class="col-md-4 col-sm-3 col-xs-4 nopadding">
                <p class="info-order margin-0 font-18">{{'ORDER_PICKUP_ORDER' | translate}}:<span class="padding-l-5">{{orderPickup.details.poNumber}}</span></p>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-4 date text-center">
                <div class="form-inline">
                    <div class="form-group margin-0 fields-group creation-date">
                        <label>{{'ORDER_PICKUP_CREATION_DATE' | translate}}:</label>
                        <span class="input-date">{{orderPickup.details.orderCDate.getMonth() + 1}}</span>
                        <span class="bar">&#47;</span>
                        <span class="input-date">{{orderPickup.details.orderCDate.getDate()}}</span>
                        <span class="bar">&#47;</span>
                        <span class="input-date">{{orderPickup.details.orderCDate.getFullYear()}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-right nopadding">
                <p class="info-order margin-0 font-18">{{'ODER_PICKUP_TOTAL_LANDED_COST' | translate}}:<span class="padding-l-5" ng-bind="orderPickup.details.totalCost | currency: undefined: 0"></span></p>
            </div>
        </div>
        <form id="pickupInformationForm" ng-submit="orderPickup.savePickupInformation()" name="orderPickup.pickupInformationForm" novalidate>
            <div class="row">
                <p class="info-text">{{'ORDER_PICKUP_SUBTITLE' | translate}}:</p>
                <div class="col-md-12 nopadding border-bottom">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <p class="order-id">{{'ORDER_PICKUP_CONTACT_NAME' | translate}}:</p>
                            <div class="form-date-group">
                                <div class="form-group">
                                    <input name="contactName" type="text" class="form-control box padding-tb-10" ng-model="orderPickup.pickupInformationModel.contactName" ng-maxlength="50" required />
                                </div>
                                <div class="error-messages" ng-messages="orderPickup.pickupInformationForm.contactName.$error" ng-show="orderPickup.pickupInformationForm.contactName.$dirty" role="alert">
                                    <div ng-message="required" class="message">{{'ORDER_PICKUP_FIELD_REQUIRED' | translate}}</div>
                                    <div ng-message="maxlength" class="message">{{'ORDER_PICKUP_FIELD_TOO_LONG' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding land-view">
                            <p class="order-id xs-order-view">{{'ORDER_PICKUP_CONTACT_PHONE' | translate}}:</p>
                            <div class="form-date-group">
                                <div class="form-group">
                                    <input name="contactPhone" type="text" class="form-control box padding-tb-10" ng-model="orderPickup.pickupInformationModel.contactPhone" ng-maxlength="50" required />
                                </div>
                                <div class="error-messages" ng-messages="orderPickup.pickupInformationForm.contactPhone.$error" ng-show="orderPickup.pickupInformationForm.contactPhone.$dirty" role="alert">
                                    <div ng-message="required" class="message phone-message">{{'ORDER_PICKUP_FIELD_REQUIRED' | translate}}</div>
                                <div ng-message="maxlength" class="message phone-message">{{'ORDER_PICKUP_FIELD_TOO_LONG' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <p class="order-id">{{'ORDER_PICKUP_CONTACT_EMAIL' | translate}}:</p>
                            <div class="form-date-group">
                                <div class="form-group">
                                    <input name="contactEmail" type="text" class="form-control box padding-tb-10" ng-model="orderPickup.pickupInformationModel.contactEmail" ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}$/i" ng-maxlength="50" required />
                                </div>
                                <div class="error-messages" ng-messages="orderPickup.pickupInformationForm.contactEmail.$error" ng-show="orderPickup.pickupInformationForm.contactEmail.$dirty" role="alert">
                                    <div ng-message="required" class="message">{{'ORDER_PICKUP_FIELD_REQUIRED' | translate}}</div>
                                    <div ng-message="maxlength" class="message">{{'ORDER_PICKUP_FIELD_TOO_LONG' | translate}}</div>
                                    <div ng-message="pattern" class="message">{{'ORDER_PICKUP_EMAIL_INVALID' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tablet-view">
                            <p class="order-id">{{'ORDER_PICKUP_HOURS' | translate}}:</p>
                            <div class="form-date-group">
                                <div class="form-group display-ib">
                                    <div class="dropdown-toggle border-line" id="startPickupHourDropdown" role="button" data-toggle="dropdown">
                                        <input type="text" class="form-control box small-box" name="startHour" placeholder="hh:mm" value="{{orderPickup.orderPickupStartHourDisplay}}" autocomplete="off" />
                                    </div>
                                    <ul class="dropdown-menu dropdown-changes ie-only mozz-only pickhour" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="orderPickup.pickupInformationModel.pickupStartHour"
                                                        data-on-set-time="orderPickup.startHourOnSetTime()"
                                                        data-datetimepicker-config="{ dropdownSelector: '#startPickupHourDropdown', renderOn: 'order-pickup-end-hour-changed', startView:'hour', minuteStep: 15 }" />
                                    </ul>
                                </div>
                                <span class="slash">-</span>
                                <div class="form-group display-ib">
                                    <div class="dropdown-toggle border-line" id="endPickupHourDropdown" role="button" data-toggle="dropdown">
                                        <input type="text" class="form-control box small-box" name="endHour" placeholder="hh:mm" value="{{orderPickup.orderPickupEndHourDisplay}}" autocomplete="off" />
                                    </div>
                                    <ul class="dropdown-menu dropdown-changes ie-only mozz-only pickhour pick-left" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="orderPickup.pickupInformationModel.pickupEndHour"
                                                        data-on-set-time="orderPickup.endHourOnSetTime()"
                                                        data-datetimepicker-config="{ dropdownSelector: '#endPickupHourDropdown', renderOn: 'order-pickup-start-hour-changed', startView:'hour', minuteStep: 15 }"
                                                        data-before-render="orderPickup.endHourBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)" />
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 nopadding">
                    <p class="order-id margin-b-10">{{'ORDER_PICKUP_DATES' | translate}}:</p>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-5 form-date-group">
                            <div class="form-group data-group">
                                <label class="control-label label-text" for="start-date">{{'ORDER_PICKUP_START_DATE' | translate}}:</label>
                                <div class="dropdown-toggle border-line" id="startDateDropdown" role="button" data-toggle="dropdown">
                                    <input type="text" class="form-control date-form" name="month" placeholder="MM" value="{{orderPickup.details.orderPickupStartDate === null ? orderPickup.details.orderPickupStartDate.getMonth() : (orderPickup.details.orderPickupStartDate.getMonth() + 1)}}" />
                                    <span class="slash">&#47;</span>
                                    <input type="text" class="form-control date-form active" value="{{orderPickup.details.orderPickupStartDate.getDate()}}" name="date" placeholder="DD" />
                                    <span class="slash">&#47;</span>
                                    <input type="text" class="form-control date-form year-input" name="year" placeholder="YYYY" value="{{orderPickup.details.orderPickupStartDate.getFullYear()}}" />
                                </div>
                                <ul class="dropdown-menu dropdown-changes ie-only mozz-only" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="orderPickup.details.orderPickupStartDate"
                                                    data-on-set-time="orderPickup.startDateOnSetTime()"
                                                    data-datetimepicker-config="{ dropdownSelector: '#startDateDropdown', renderOn: 'order-pickup-end-date-changed', minView:'day' }"
                                                    data-before-render="orderPickup.startDateBeforeRender($event, $dates)" />
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-7 form-date-group">
                            <div class="form-group data-group">
                                <label class="control-label label-text" for="start-date">{{'ORDER_PICKUP_END_DATE' | translate}}:</label>
                                <div class="dropdown-toggle border-line" id="endDateDropdown" role="button" data-toggle="dropdown">
                                    <input type="text" class="form-control date-form" name="month" placeholder="MM" value="{{orderPickup.details.orderPickupEndDate === null ? orderPickup.details.orderPickupEndDate.getMonth() : (orderPickup.details.orderPickupEndDate.getMonth() + 1)}}" />
                                    <span class="slash">&#47;</span>
                                    <input type="text" class="form-control date-form active" name="date" placeholder="DD" value="{{orderPickup.details.orderPickupEndDate.getDate()}}" />
                                    <span class="slash">&#47;</span>
                                    <input type="text" class="form-control date-form year-input" name="year" placeholder="YYYY" value="{{orderPickup.details.orderPickupEndDate.getFullYear()}}" />
                                </div>
                                <ul class="dropdown-menu dropdown-changes ie-only mozz-only" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="orderPickup.details.orderPickupEndDate"
                                                    data-on-set-time="orderPickup.endDateOnSetTime()"
                                                    data-datetimepicker-config="{ dropdownSelector: '#endDateDropdown', renderOn: 'order-pickup-start-date-changed', minView:'day' }"
                                                    data-before-render="orderPickup.endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)" />
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 hidden-xs"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 nopadding margin-info">
                    <p class="order-id margin-b-10">{{'ORDER_PICKUP_PACKAGE_INFORMAION' | translate}}:</p>
                    <div class="row form-inline">
                        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 form-date-group">
                            <div class="form-group data-group">
                                <label class="control-label label-text" for="start-date">{{'ORDER_PICKUP_BOX_TYPE' | translate}}:</label>
                                <div class="box" data-ng-form='dimensionsSubform' name="dimensionsSubform">
                                    <input name="boxLength" type="text" class="form-control date-form color-value" ng-model="orderPickup.boxSizeModel.length" ng-pattern="/^\d+((\.|\,)\d+)?$/" ng-maxlength="8" required />
                                    <span>x</span>
                                    <input name="boxWidth" type="text" class="form-control date-form active color-value" ng-model="orderPickup.boxSizeModel.width" ng-pattern="/^\d+((\.|\,)\d+)?$/" ng-maxlength="8" required />
                                    <span>x</span>
                                    <input name="boxDepth" type="text" class="form-control date-form color-value" ng-model="orderPickup.boxSizeModel.depth" ng-pattern="/^\d+((\.|\,)\d+)?$/" ng-maxlength="8" required />
                                </div>
                            </div>
                            <div class="error-messages" ng-messages="dimensionsSubform.$error" ng-show="dimensionsSubform.$dirty" role="alert">
                                <div ng-message="required" class="message message-required position">{{'ORDER_PICKUP_FIELD_REQUIRED' | translate}}</div>
                            <div ng-message="pattern" class="message message-required position">{{'ORDER_PICKUP_DIMENSION_INVALID' | translate}}</div>
                            <div ng-message="maxlength" class="message message-required position">{{'ORDER_PICKUP_DIMENSION_INVALID' | translate}}</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-3 form-date-group">
                            <div class="form-group font-18">
                                <label class="control-label label-text" for="start-date">{{'ORDER_PICKUP_QUANTITY' | translate}}:</label>
                                <div>
                                    <input name="boxQty" type="text" class="form-control box small-box" ng-model="orderPickup.boxSizeModel.quantity" ng-pattern="/^\d+((\.|\,)\d+)?$/" ng-maxlength="8" required />
                                </div>
                                <div class="error-messages" ng-messages="orderPickup.pickupInformationForm.boxQty.$error" ng-show="orderPickup.pickupInformationForm.boxQty.$dirty" role="alert">
                                    <div ng-message="required" class="message message-required">{{'ORDER_PICKUP_FIELD_REQUIRED' | translate}}</div>
                                <div ng-message="pattern" class="message message-required">{{'ORDER_PICKUP_DIMENSION_INVALID' | translate}}</div>
                                <div ng-message="maxlength" class="message message-required">{{'ORDER_PICKUP_DIMENSION_INVALID' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-3 form-date-group">
                            <div class="form-group font-18">
                                <label class="control-label label-text" for="start-date">{{'ORDER_PICKUP_WEIGHT' | translate}}:</label>
                                <div>
                                    <input name="boxWeight" type="text" class="form-control box small-box" ng-model="orderPickup.boxSizeModel.weight" ng-pattern="/^\d+((\.|\,)\d+)?$/" ng-maxlength="8" />
                                </div>
                                <div class="error-messages" ng-messages="orderPickup.pickupInformationForm.boxWeight.$error" ng-show="orderPickup.pickupInformationForm.boxWeight.$dirty" role="alert">
                                    <div ng-message="pattern" class="message message-required">{{'ORDER_PICKUP_DIMENSION_INVALID' | translate}}</div>
                                    <div ng-message="maxlength" class="message">{{'ORDER_PICKUP_DIMENSION_INVALID' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-5 col-xs-3 button-align text-right">
                            <button ng-show="!orderPickup.isEdit" class="btn-lm btn-lm-green" ng-click="orderPickup.saveBoxSizeType($event)">
                                <span class="plus-symbol">+</span>{{'ORDER_PICKUP_ADD' | translate}}
                            </button>
                            <button ng-show="orderPickup.isEdit" class="btn-lm btn-lm-green" ng-click="orderPickup.saveBoxSizeType($event)">
                                <span class="plus-symbol">+</span>{{'ORDER_PICKUP_SAVE' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 column-table">
                    <div class="row row-head">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            {{'ORDER_PICKUP_BOX_SIZE_TYPE' | translate}}
                        </div>
                        <div class="col-lg-3 col-md-2 col-sm-3 col-xs-3">
                            {{'ORDER_PICKUP_QUANTITY' | translate}}
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-2 col-xs-2">
                            {{'ORDER_PICKUP_WEIGHT' | translate}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{'ORDER_PICKUP_ACTIONS' | translate}}</div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    </div>
                    <div class="row row-body" ng-show="!orderPickup.boxSizeTypeList.length">
                        <p class="text-center">{{'ORDER_PICKUP_MSG_NO_BOXES' | translate}}</p>
                    </div>
                    <div class="row row-body" data-ng-repeat="boxSize in orderPickup.boxSizeTypeList">
                        <div class="col-md-4 col-sm-4 col-xs-4 date">
                            <div class="form-inline align-items">
                                <div class="form-group margin-0 fields-group creation-date">
                                    <span class="input-date">{{boxSize.length}}</span>
                                    <span class="">x</span>
                                    <span class="input-date">{{boxSize.width}}</span>
                                    <span class="">x</span>
                                    <span class="input-date">{{boxSize.depth}}'</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            {{boxSize.quantity}}
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            {{boxSize.weight != 0 ? boxSize.weight : 'N/A'}}
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <button class="btn-lm-link font-16" ng-click="orderPickup.populateForEditBoxSizeType($event, boxSize.boxSizeId)">{{'ORDER_PICKUP_EDIT' | translate}}</button>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <span class="include-exclude" ng-click="orderPickup.deleteBoxSizeType($event, boxSize)"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="order-id margin-b-10">{{'ORDER_PICKUP_SUMMARY' | translate}}:</p>
                <div class="col-md-12 column-table">
                    <div class="row row-head second-row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            {{'ORDER_PICKUP_QUANTITY' | translate}}
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            {{'ORDER_PICKUP_WEIGHT' | translate}}
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            {{'ORDER_PICKUP_TOTAL_WEIGHT' | translate}}
                        </div>
                    </div>
                    <div class="row row-body">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            {{orderPickup.totalQty != 0 ? orderPickup.totalQty : 'N/A'}}
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            {{orderPickup.averageWeight != 0 ? orderPickup.averageWeight : 'N/A'}}
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            {{orderPickup.totalWeight != 0 ? orderPickup.totalWeight : 'N/A'}}
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 nopadding">
                    <p class="order-id margin-b-10">{{'ORDER_PICKUP_NOTES' | translate}}:</p>
                    <div class="row">
                        <div class="form-group col-md-12 register text-center">
                            <label class="floating"></label>
                            <textarea name="notes" class="description-box" ng-maxlength="250" rows="7" ng-model="orderPickup.pickupInformationModel.notes" placeholder="{{'ORDER_PICKUP_NOTES_PLACEHOLDER' | translate}}"></textarea>
                            <div class="error-messages" ng-messages="orderPickup.pickupInformationForm.notes.$error" ng-show="orderPickup.pickupInformationForm.notes.$dirty" role="alert">
                                <div ng-message="maxlength" class="message area-message">{{'ORDER_PICKUP_FIELD_TOO_LONG' | translate}}</div>
                            </div>
                            <button class="btn-lm btn-lm-submit margin-t-30" type="submit" ng-disabled="orderPickup.isLoading">
                                {{'ORDER_PICKUP_BTN_SUBMIT' | translate}}
                                <i class="fa fa-spinner spinning" ng-show="orderPickup.isLoading"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>