﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="dpibs.close()">&times;</button>
    <p class="modal-title" ng-bind="dpibs.title | translate"></p>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p class="message-delete" ng-bind="dpibs.question | translate:dpibs.translationData"></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-6 col-xs-6 text-left">
            <button class="btn-lm btn-lm-cancel margin-b-20" ng-click="dpibs.close()">{{'P_I_CONFIRM_DELETE_NO'| translate}}</button>
        </div>
        <div class="col-md-6 col-xs-6 text-right">
            <button class="btn-lm btn-lm-save margin-b-20" ng-click="dpibs.submit($event)">
                {{'P_I_CONFIRM_DELETE_YES'| translate}}
                <i class="fa fa-spinner spinning" ng-show="dpibs.isLoading"></i>
            </button>
        </div>
    </div>
</div>
