﻿<div class="container-fluid">
    <div class="row supporting-upload" ng-if="orderIsConfirmed">
        <div class="col-md-12 col-sm-12 upload-information">
            <p class="details-title margin-t-40">{{'ORDER_CONIRMED_WITH_SUCCESS'| translate}}</p>
            <p class="note">
                {{'ORDER_CONIRMED_WITH_SUCCESS_NOTE_1'| translate}}<br /> {{'ORDER_CONIRMED_WITH_SUCCESS_NOTE_2'| translate}}
                {{'ORDER_CONIRMED_WITH_SUCCESS_NOTE_3'| translate}}
            </p>
            <p class="note">{{'PLEASE_PROVIDE_COPIES_2'| translate}}<br />{{'NOTE_FILE_LIMIT'| translate}}</p>
        </div>
    </div>
    <div class="row supporting-upload">
        <div class="col-md-12 col-sm-12 upload-information" ng-if="!orderIsConfirmed">
            <p class="details-title">{{'UPLOAD_SUPPORTING_DOCUMENTS'| translate}}</p>
            <p class="note">{{'PLEASE_PROVIDE_COPIES'| translate}}<br />{{'NOTE_FILE_LIMIT'| translate}}</p>
        </div>
        <div class="row margin-b-40">
            <div class="col-md-1 col-sm-1 col-xs-2"></div>
            <div class="col-md-10 col-sm-10 col-xs-8">
                <div class="text-center" ng-show="isLoadingHistory"><i class="fa fa-spinner spinning"></i></div>
                <div class="file-upload-wrapper" ng-hide="uploadFiles.length > 0">
                    <i class="fa fa-file-excel-o upload-icon" aria-hidden="true"></i>
                    <div class="file-input">
                        <input type="text" readonly placeholder="{{'UPLOAD_SUPPORTING_DOCUMENTS_PLACEHOLDER'| translate}}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                    </div>
                </div>
                <div class="file-upload-wrapper" ng-repeat="file in uploadFiles">
                    <i class="fa fa-file-excel-o upload-icon" aria-hidden="true"></i>
                    <div class="file-input">
                        <input type="text" ng-model="file.name" readonly placeholder="{{'UPLOAD_SUPPORTING_DOCUMENTS_PLACEHOLDER'| translate}}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                        <div class="upload-progress-bar" style="width: {{file.progress}}%;"></div>
                    </div>
                    <i class="remove fa" ng-class="{'fa-spinner spinning' : file.isLoading, 'fa-times' : !file.isLoading}" ng-click="cancelUpload($event, file)"></i>
                </div>
                <div class="drag-and-drop-zone" ngf-drop ngf-select ng-model="files" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="false"
                     accept=".pdf" ngf-max-files="10" ngf-max-size="'20MB'">
                    <p>{{'DRAG_FILE_HERE'| translate}}</p>
                    <p>{{'SUPPORTING_DOCUMENTS_OR'| translate}} <span>{{'SUPPORTING_DOCUMENTS_BROWSE'| translate}}</span></p>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-2"></div>
        </div>
        <!--<div class="row">
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <input type="checkbox" id="terms" ng-model="alreadyUploaded" />
                    <label for="terms" class="terms-conditions"><span></span>{{'ALREADY_UPLOADED_FILES'| translate}}</label>
                </div>
            </div>
        </div>-->
        <!--<div class="row margin-b-60">
            <div class="col-md-4 col-sm-4"></div>
            <div class="col-md-4 col-sm-4 text-center">
                <button class="btn-lm continue-btn" ng-disabled="checkDisabled()" ng-click="confirm($event)">{{'SUPPORTING_DOCUMENTS_CONFIRM'| translate}}<span class="arrow padding-l-20"><i class="fa" ng-class="{'fa-angle-right' : !isLoading, 'fa-spinner spinning' : isLoading}" aria-hidden="false"></i></span></button>
            </div>
            <div class="col-md-4 col-sm-4"></div>
        </div>-->
        <div class="row margin-b-60">
            <div class="col-md-4 col-sm-4"></div>
            <div class="col-md-4 col-sm-5 text-center">
                <button class="btn-lm" ng-click="goToOrderDetails($event)">{{'SUPPORTING_DOCUMENTS_GO_TO_ORDER_DETAILS'| translate}}<span class="arrow padding-l-20"><i class="fa" ng-class="{'fa-angle-right' : !isLoading, 'fa-spinner spinning' : isLoading}" aria-hidden="false"></i></span></button>
            </div>
            <div class="col-md-4 col-sm-3"></div>
        </div>

    </div>
</div>
