﻿    <table style="background-color: #f1f1f1; width: 100%;">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="600" style="font-family: 'Futura PT'; font-size: 15px;  color: #383838; margin: 0 auto;">
                    <tr>
                        <td style="background-color: #f1f1f1; text-align: right; padding: 10px 5px;">
                            <a href="#" style="font-size: 12px; color: #383838; line-height: 24px; letter-spacing: 0.05em;">Read online</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background-color: #fff; padding: 30px 0 0 0; width:100%; border-radius: 5px 5px 0 0;">
                            <img src="http://192.168.1.148:93/assets/images/logos/3.png" width="240" alt="logo" />
                        </td>
                    </tr>
                    <tr style="background-color: #fff;">
                        <td style="padding: 25px 0px 0px 25px; font-weight: 500;">
                            <p style="font-weight: bold; margin: 0; line-height: 25px;">From:<span style="font-weight: 400; border: 5px solid #fff;">Keith George</span></p>
                            <p style="font-weight: bold; margin: 0; line-height: 25px;">Email:<span style="font-weight: 400;  border: 5px solid #fff; text-decoration: underline; color: #0057FF;">keithgeorge@luxurymarket.com</span></p>
                            <p style="font-weight: bold; margin: 0; line-height: 25px;">Company Name:<span style="font-weight: 400; border: 5px solid #fff;">Icon</span></p>
                            <p style="font-weight: bold; margin: 0; line-height: 25px;">Contact Phone:<span style="font-weight: 400; border: 5px solid #fff;">4152714322</span></p>
                            <p style="font-weight: bold; margin: 0; line-height: 25px;">Topic Name:<span style="font-weight: 400; border: 5px solid #fff;">Supplier Support</span></p>
                        </td>
                    </tr>
                    <tr style="background-color: #fff;">
                        <td style="padding: 10px 0 10px 25px;">
                            <p style="font-weight: 500; line-height: 20px; margin: 0;">Question:</p>
                        </td>
                    </tr>
                    <tr style="background-color: #fff;">
                        <td style="padding: 0 25px 35px 25px; border-radius: 5px;">
                            <p style="padding-bottom: 20px; text-align:justify; margin: 0;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <p>Keith George</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; color: #000; padding: 15px 0;">
                            <p style="font-size: 15px; line-height: 24px; text-transform: uppercase; margin: 0; font-weight: bold;">luxury market</p>
                            <a href="#" style="font-size: 12px; line-height: 25px; color: #000; letter-spacing: 0.025em;">www.luxurymarket.com</a>
                            <p style="font-size: 13px; margin: 0; line-height: 24px; text-transform: capitalize; letter-spacing: 0.025em;">phone: <span>0844 123 1234</span> | email: <span style="text-transform: none;"><a href="#" style="color: #000;">support@luxurymarket.com</a></span></p>
                            <p style="font-size: 13px; text-transform: capitalize; letter-spacing: 0.025em; line-height: 24px; margin: 0;">luxury market<span style="padding: 0 5px 0 5px;">-</span><span style="text-transform: none;">230 West 38th Street, 5th Floor</span><span style="padding: 0 5px 0 5px;">-</span><span style="text-transform: none;">New York</span>,<span>NY 10018</span></p>
                            <p style="font-size: 13px; letter-spacing: 0.025em; line-height: 24px; margin: 0;">Copyright &#169; 2017 Luxury Market, All rights reserved.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
