﻿<body style="background-color: #f1f1f1;">
    <table border="0" cellpadding="0" cellspacing="0" width="600" style="font-family: 'Futura PT'; font-size: 15px; color: #fff; margin: 0 auto;">
        <tr>
            <td style="background-color: #f1f1f1; text-align: right; padding: 10px 5px;">
                <a href="#" style="font-size: 12px; color: #383838; line-height: 24px; letter-spacing: 0.05em;">Read online</a>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; background-color: #fff; padding: 30px 0 0 0; width:100%; border-radius: 5px 5px 0 0;">
                <img src="http://192.168.1.148:93/assets/images/logos/3.png" width="240" alt="logo" />
            </td>
        </tr>
        <tr>
            <td style="padding: 30px 0; text-align: center; background-color: #fff;">
                <p style="font-family: 'Futura PT'; font-size: 20px; text-transform: capitalize; line-height: 24px; letter-spacing: 0.05em;
color: #383838;">generic email template title</p>
            </td>
        </tr>
        <tr>
            <td style="font-family: 'Futura PT'; font-size: 15px; color: #383838; padding: 0 0 0 30px; line-height: 22px; letter-spacing: 0.05em; background-color: #fff;">
                <p style="text-transform: capitalize; padding: 0 0 10px 0;">mr.<span style="padding: 0 0 0 5px;">john doe</span>,</p>
                <p style="margin: 0;">Your offer was approved for publish.</p>
                <p style="padding: 0 0 15px 0; margin: 0px 0 10px 0;">Click <a href="#" style="color: #2c89c3;">here</a> to view your products online.</p>
                <p style="margin: 0;">Thank you,</p>
                <p style="padding: 0 0 30px 0; margin: 0px 0 10px 0;">The <span style="font-weight: bold; font-style: italic;">LuxuryMarket Team</span></p>
            </td>
        </tr>
        <tr>
            <td style="background-color: #000; border-radius: 5px;">
                <a href="#" style="font-family: 'Futura PT'; font-size: 16px; text-decoration: none;"><p style="margin: 0; color: #fff; line-height: 36px; font-size: 18px; text-align: center; padding: 10px 0 10px 0;">Questions? Visit the <span style="text-decoration: underline; text-transform: capitalize;">help center</span></p></a>
            </td>
        </tr>
        <tr>
            <td style="font-family: 'Futura PT'; text-align: center; color: #000; padding: 20px 0 0 0; background-color: #f1f1f1;">
                <p style="font-size: 15px; font-weight: bold; line-height: 24px; text-transform: uppercase; margin: 0;">luxury market</p>
                <a href="#" style="font-size: 13px; line-height: 25px; color: #000; letter-spacing: 0.025em;">www.hluxurymarket.com</a>
                <p style="font-size: 13px; margin: 0; line-height: 24px; text-transform: capitalize; letter-spacing: 0.025em;">phone: <span>0844 123 1234</span> | email: <span style="text-transform: none;"><a href="#" style="color: #000;">office@luxurymarket.com</a></span></p>
                <p style="font-size: 13px; text-transform: capitalize; letter-spacing: 0.025em; line-height: 24px; margin: 0;">luxury market<span style="padding: 0 5px 0 5px;">-</span><span style="text-transform: none;">123 4th Street</span><span style="padding: 0 5px 0 5px;">-</span><span style="text-transform: none;">San Francisco CA</span>,<span>1234</span></p>
                <p style="font-size: 13px; letter-spacing: 0.025em; line-height: 24px; margin: 0;">Copyright &#169; 2016 Luxury Market, All rights reserved.</p>
            </td>
        </tr>
    </table>
</body>