﻿.login-container {
    margin-top: 20px;

    .login-home {
        float: none;
        margin: 20px auto;
        text-align: center;
        padding: 0px 3px;

        @media (max-width: $screen-xs) {
            margin: 0;
            padding-right: 15px;
            padding-left: 15px;
        }


        .title {
            color: $black;
            font-size: 17px;
            font-weight: $heavy-weight;
            letter-spacing: 0.1em;
            margin-bottom: 35px;
            text-transform: $upper-text;
        }

        a {
            margin-top: 15px;
            margin-bottom: 25px;
        }
    }
}