﻿.login-page {
    font-family: "neuzeit-grotesk",sans-serif;
    min-height: calc(100vh - 275px);
    // New changes on auth pages
    .login-container {
        // margin-bottom: 150px;

        @media (max-width: $screen-more-lg) {
            // margin-bottom: 100px;
        }

        @media (max-width: $screen-xs) {
            // margin-bottom: 50px;
        }

        .standard-text {
            letter-spacing: 0.08em;
            line-height: 24px;
            color: $black;

            font: {
                size: 18px;
                weight: $lighter;
            }

            @media (max-width: $screen-sm) {
                font-size: 15px;
                text-align: justify;
                text-align-last: center;
            }

            &:hover {
                color: $black;
            }
        }

        .title {
            @extend.standard-text;
            text-transform: $upper-text;
            font-weight: $heavy-weight;
            margin-bottom: 10px;

            @media (max-width: $screen-xs) {
                font-size: 15px;
            }
        }

        .sub-title {
            @extend.standard-text;
            text-transform: none;
            margin-bottom: 5px;
            letter-spacing: 0.07em;
        }

        .form-group {
            .floating {
                letter-spacing: 0.075em;
                left: 5px;
                top: 3px;
                position: absolute;
                color: $gray-2;

                font: {
                    size: 13px;
                    weight: $lighter;
                }
            }

            .input-text {
                color: $black;
                padding: 10px 35px;
                line-height: 24px;

                font: {
                    size: 18px;
                    weight: $lighter;
                }

                &:focus {
                    border-color: $black;
                }

                &::-ms-clear {
                    display: none;
                }

                &::-ms-reveal {
                    display: none;
                }
            }

            .valid-message {
                color: $green-3;
                font-weight: $light-weight;

                &.error-icon {
                    font-size: 12px;
                    position: absolute;
                    left: auto;
                    right: 0;
                    top: 12px;
                    cursor: pointer;
                    padding-right: 15px;

                    .invalid-input {
                        color: $red-error;
                    }
                }
            }

            .btn-lm-single {
                min-width: 100%;
                font-size: 18px;
                padding: 10px 0px;
                font-weight: $lighter;
                line-height: 24px;

                @media (max-width: $screen-xs) {
                    font-size: 15px;
                }
            }
        }

        .show-error {

            .error-text {
                border-color: $red-error;

                &:required,
                :invalid {
                    box-shadow: none;
                }
            }

            .error-messages {
                position: relative;
                top: 4px;

                .message {
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.08em;
                    color: $red-error;
                    padding-bottom: 5px;

                    @media (max-width: $screen-land) {
                        font-size: 15px;
                    }
                }

                @media (max-width: $screen-md) {
                    left: 0px;
                }
            }
        }

        .xs-screen {
            @media (max-width: $screen-sm) {
                padding: 0 15px;
            }
        }
    }
}
