﻿.register-page {
    font-family: "neuzeit-grotesk",sans-serif;

    .standard-text {
        letter-spacing: 0.08em;
        color: $black;

        font: {
            weight: $lighter;
            size: 18px;
        }
    }

    .title {
        @extend.standard-text;
        text-transform: $upper-text;
        font-weight: $heavy-weight;
        margin-bottom: 10px;

        @media (max-width: $screen-xs) {
            font-size: 15px;
        }
    }

    .sub-title {
        @extend.standard-text;
        font-weight: $light-weight;
        text-transform: none;
        margin-bottom: 5px;
    }

    .register-container {
        margin-bottom: 80px;

        @media (max-width: $screen-xs) {
            font-size: 15px;
        }

        .buyer-seller {
            .label-name {
                @extend.standard-text;
                font-weight: $medium-weight;

                @media (max-width: $screen-xs) {
                    font-size: 15px;
                }
            }

            .check-name {
                @extend.standard-text;
                text-transform: $capital-text;

                font: {
                    size: 16px;
                    weight: $light-weight;
                }
            }
        }

        .name {
            @extend.standard-text;
            font-weight: $heavy-weight;
            text-transform: $capital-text;
            letter-spacing: 0.075em;
            text-align: left;
            margin-bottom: 15px;
            line-height: 20px;
        }

        .form-group {

            .floating {
                letter-spacing: 0.075em;
                left: 5px;
                top: 3px;
                position: absolute;
                color: $gray-2;

                font: {
                    size: 13px;
                    weight: $lighter;
                }
            }

            .input-text {
                color: $black;
                padding: 10px 35px;
                line-height: 24px;

                font: {
                    size: 18px;
                    weight: $lighter;
                }

                &:focus {
                    border-color: $black;
                }

                &.select-box {
                    min-width: 100%;
                    width: 100%;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    //-ms-appearance: none;
                    //appearance: none; /* remove default arrow*/
                    padding-left: 15px;
                    text-align-last: center;
                    text-align: center;
                    background-color: $white;
                    border-radius: unset;
                    color: $gray-1;

                    &:valid {
                        color: $black;
                    }

                    &:focus {
                        outline: none;
                    }

                    &:disabled {
                        display: none;
                    }

                    option {
                        border-top: none;
                        border-radius: unset;
                        color: $black;
                        font-weight: $lighter;

                        &:hover {
                            background-color: $black;
                            color: $white;
                        }

                        &:disabled {
                            display: none;
                        }

                        &:focus, :active {
                            color: $black;
                        }
                    }
                }

                &::-ms-clear {
                    display: none;
                }
            }

            select::-ms-expand {
                display: none; /* remove default arrow in IE 10 and 11*/
            }


            &.show-error {

                .error-text {
                    border-color: $red-error;
                }

                .error-messages {
                    position: relative;
                    top: 4px;
                    left: 15px;

                    .message {
                        line-height: 20px;
                        letter-spacing: 0.075em;
                        color: $red-error;

                        font: {
                            weight: $lighter;
                            size: 16px;
                        }

                        @media (max-width: $screen-land) {
                            font-size: 15px;
                        }
                    }

                    @media (max-width: $screen-md) {
                        left: 0px;
                    }
                }
            }

            .valid-message {
                color: $green-3;
                font-weight: $light-weight;

                &.error-icon {
                    font-size: 12px;
                    position: absolute;
                    left: auto;
                    right: 0;
                    top: 12px;
                    cursor: pointer;
                    padding-right: 15px;

                    > .invalid-input {
                        color: $red-error;
                    }
                }
            }

            &.dropdown-filter {
                /*select:required {
                    color: $gray-1;
                }*/
                .caret-down {
                    position: absolute;
                    top: 12px;
                    font-size: 18px;
                    cursor: pointer;
                    right: 0;
                    padding-right: 15px;
                    left: auto;
                }

                .menu-right {
                    right: 0;
                    left: auto;
                    margin: 0;
                    width: 100%;
                    min-width: 100%;
                    padding: 0;
                    border: none;
                    border-radius: 0;
                    font-size: 18px;
                    box-shadow: none;
                    z-index: 1;
                    /*min-height: 250px;*/
                    overflow-x: hidden;
                    box-shadow: 0px 3px 8px rgba(0,0,0,0.200);
                    top: auto;

                    li {
                        padding: 7px 20px 7px 15px;
                        cursor: pointer;
                        text-transform: $capital-text;
                        color: $black;
                        letter-spacing: 0.05em;

                        &:hover {
                            background-color: $black;
                            color: $white;
                        }
                    }

                    &.scrollbar-bar {
                        height: 170px;

                        &.scrollbar-bar::-webkit-scrollbar-track {
                            //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                            background-color: $white;
                        }

                        &.scrollbar-bar::-webkit-scrollbar-track {
                            //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                            background-color: $white;
                        }

                        &.scrollbar-bar::-webkit-scrollbar {
                            width: 7px;
                            background-color: $very-light-gray;
                        }

                        &.scrollbar-bar::-webkit-scrollbar-thumb {
                            background-color: $very-light-gray;
                        }

                        @media (max-width: $screen-md) {
                            float: none;
                        }
                    }
                }
            }

            .description-box {
                padding: 15px 0 0 20px;
                line-height: 20px;

                &:focus {
                    border-radius: none;
                    outline: none;
                }
            }

            .btn-lm-single {
                min-width: 100%;
                padding: 10px 0px;

                font: {
                    size: 18px;
                    weight: $lighter;
                }

                @media (max-width: $screen-xs) {
                    font-size: 15px;
                }
            }
        }

        .padding-r-10 {
            @media (max-width: $screen-sm) {
                padding-right: 15px;
            }
        }

        .padding-l-10 {
            @media (max-width: $screen-sm) {
                padding-left: 15px;
            }
        }

        .register-back-btn {
            cursor: pointer;
        }
        // For Firefox
        /*@-moz-document url-prefix() {
        .input-text {
            &.select-box {
                padding: 9px 15px;
            }
        }
    }*/
    }
}

.auth-message {
    margin: 140px 0;
    text-align: center;

    .message {
        font-size: 18px;
        letter-spacing: 1px;
    }
}
