﻿
.product-information {
    letter-spacing: 0.05em;
    line-height: 30px;
    color: $black;

    .sm-padding {

        @media (max-width: $screen-md) {
            padding: 0px;
        }
    }

    p {
        font-weight: $heavy-weight;
        text-transform: $capital-text;
        margin: 0;

        @media (max-width: $screen-md) {
            font-size: 12px;
        }

        span {
            font-weight: $light-weight;
            padding-left: 5px;
            color: $dark-gray-1;
            margin: 0;
            line-height: 24px;
        }

        .multiple {
            text-transform: $lower-text;
            padding-left: 0;
        }

        .specials {
            color: $medium-blue;
            text-decoration: underline;
        }

        .description-product {
            display: block;
            padding-left: 0;
            text-transform: none;
            letter-spacing: 0.08em;

            ul {
                padding-left: 0;
            }
        }
    }

    .offer-cost {
        @extend p;

        form {
            display: inline-block;

            input[type=text] {
                font-weight: 400;
                padding: 2px;
                max-width: 65px;
            }

            .error-messages {
                position: relative;
                display: inline-block;
                font-weight: 400;
                bottom: 0;
            }
        }
    }
}


.btn-btn {

    .raport-btn {
        width: 200px;
        background-color: $white;
        border: 1px solid $black;
        color: $black;
        padding: 8px 25px;

        @media (max-width: $screen-md) {
            width: 120px;
            font-size: 9px;
            line-height: 10px;
            padding: 10px 0;
        }
    }

    .offer-details-btn {
        width: 200px;
        padding: 8px 25px;

        @media (max-width: $screen-md) {
            width: 120px;
            font-size: 9px;
            line-height: 10px;
            padding: 10px 0;
        }

        .arrow {
            right: 25px;

            @media (max-width: $screen-md) {
                right: 15px;
            }
        }
    }
}

.size-image-table {

    p {
        text-transform: $capital-text;
        font-weight: $heavy-weight;
        letter-spacing: 0.05em;
        line-height: 36px;
        color: $black;
        margin-bottom: 20px;

        span {
            text-transform: $lower-text;
        }

        @media (max-width: $screen-md) {
            margin-bottom: 10px;
            font-size: 12px;
        }
    }

    .table-size {
        width: 160px;
        text-transform: $upper-text;
        background-color: $light-white;
        color: $black;
        letter-spacing: 0.05em;

        @media (max-width: $screen-md) {
            font-size: 12px;
            width: 120px;
        }

        tbody {

            tr {

                td {
                    border-top: none;
                    padding: 4px 5px;
                }

                .size-font {
                    text-transform: $capital-text;
                }

                &:hover {
                    background-color: $gray-lighten-5;
                }

                &:last-child {
                    background-color: $black;
                    color: $white;
                    font-weight: $heavy-weight;
                }
            }

            .size-column {
                font-weight: $heavy-weight;
            }

            .unit-column {
                color: $medium-blue;
                text-decoration: underline;

                form {
                    position: relative;

                    .quantity-inline {
                        padding: 0;
                        max-width: 30px;
                    }

                    .error-messages {
                        text-transform: none;
                        left: 100%;
                        margin-left: 10px;
                        bottom: 3px;
                        min-width: 120px;
                        text-align: left;
                    }
                }

                .no-underline {
                    color: $black;
                    text-decoration: none;
                }

                i.spinning {
                    color: $black;
                }
            }
        }
    }

    .image-pictures {
        //padding: 20px 20px;
    }
}
