﻿
.top-register {

    .title {
        font-size: 17px;
        color: $black;
        text-transform: $upper-text;
        letter-spacing: 1px;
        font-weight: $heavy-weight;
        margin-bottom: 10px;
        text-align: center;

        @media (max-width: $screen-xs) {
            font-size: 15px;
        }
    }

    .sub-title {
        font-size: 16px;
        text-align: center;
        letter-spacing: 1px;

        @media (max-width: $screen-xs) {
            font-size: 12px;
        }
    }
}

.register {

    .buyer-seller {
        text-transform: $upper-text;
        letter-spacing: 1px;
        padding-left: 0px;

        span {
            @media (max-width: $screen-xs) {
                font-size: 12px;
            }
        }

        .check-with-label:checked + .label-for-check {
            font-weight: bold;
        }

        label {
            font-weight: 400;
        }
    }

    .description-box {
        line-height: 20px;
        padding: 10px 15px;
        resize: none;
        height: 65px;

        @media (max-width: $screen-sm) {
            font-size: 12px;
        }
    }

    .double-input {
        .col-md-6:first-child {
            padding-right: 7.5px;

            @media (max-width: $screen-md) {
                padding: 0;
            }

            @media (max-width: $screen-sm) {
                padding-right: 15px;
                padding-left: 15px;
            }
        }

        .col-md-6:last-child {
            padding-left: 7.5px;

            @media (max-width: $screen-md) {
                padding: 0;
            }

            @media (max-width: $screen-sm) {
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }

    select {


        &.select-row {
            width: 100%;
            min-width: 100%;

            @media (min-width: $screen-lg) {
                //min-width: 300px;
            }
        }
    }

    .small-screen {
        @media (max-width: $screen-md) {
            padding: 0;
        }
    }

    .terms {
        text-align: center;
        font-size: 14px;

        .terms-font {
            font-weight: $light-weight;
            cursor: pointer;

            a {
                display: inline-block;
                text-decoration: underline;
                color: $black;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }

        input[type="checkbox"] + label span {
            margin: 0px 13px 0px 0px;
        }
    }

    .btn-lm {
        &.btn-lm-single {
            margin: 20px 0;
        }
    }
}

/*.auth-message {
    margin: 140px 0;
    text-align: center;

    .message {
        font-size: 18px;
        letter-spacing: 1px;
    }
}*/
