﻿<table border="0" cellpadding="0" cellspacing="0" width="600" style="font-size: 16px; color:#383838; margin: 0 auto; font-family: 'Futura PT';">
    <tr style="text-align:center; margin-top: 30px; background-color: #fff;">
        <td style="width:100%; padding: 35px 0 15px 0; border-radius: 5px;">
            <img src="@Model.LogoUrl" width="240" alt="logo" />
        </td>
    </tr>
    <tr style="background-color: #fff;">
        <td style="padding: 15px 0 0 0;">
            <p style="font-size: 24px; text-transform: capitalize; text-align: center; margin-bottom: 15px; line-height: 36px; font-weight: 500;">Shipment Details</p>
        </td>
    </tr>
    <tr style="background-color: #fff;">
        <td style="padding: 20px 25px;">
            <table style="width: 100%; margin-bottom: 15px;">
                <tr>
                    <td style="text-align: left;">
                        <p style="margin: 0; line-height: 36px; font-weight: bold;">PO Number:<span style="font-weight: 400; border: 5px solid #fff;">@Model.PONumber</span></p>
                    </td>
                    <td style="text-align: right;">
                        <p style="margin: 0; line-height: 36px; font-weight: bold;">Creation Date:<span style="font-weight: 400; border: 5px solid #fff;">@Model.CreatedDate</span></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="background-color: #fff;">
        <td style="padding-left: 25px; text-align: left;">
            <p style="font-weight: bold; margin: 0; line-height: 25px;">Company:<span style="font-weight: 400; border: 5px solid #fff;">@Model.SellerCompanyName</span></p>
            <p style="font-weight: bold; margin: 0; line-height: 25px;">Name:<span style="font-weight: 400; border: 5px solid #fff;">@Model.SellerContactName</span></p>
            <p style="font-weight: bold; margin: 0; line-height: 25px;">Phone Number:<span style="font-weight: 400; border: 5px solid #fff;">@Model.SellerPhone</span></p>
            <p style="font-weight: bold; margin: 0; line-height: 25px;">Email:<span style="font-weight: 400; border: 5px solid #fff;">@Model.SellerContactEmail</span></p>
            <p style="font-weight: bold; margin: 0; line-height: 25px;">Pick up Hours:<span style="font-weight: 400; border: 5px solid #fff;">@Model.FromPickupHour-@Model.ToPickupHour h</span></p>
            <p style="font-weight: bold; margin: 0; line-height: 25px;">Pick up Dates:<span style="font-weight: 400; border: 5px solid #fff;">@Model.StartPickupDate-@Model.EndPickupDate</span></p>
        </td>
    </tr>
    <tr style="background-color: #fff;">
        <td style="padding: 15px 0 5px 25px; text-align: left;">
            <p style="font-weight: bold; margin: 0;">Summary:</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 25px; background-color: #fff;">
            <table style="width: 100%; border-collapse: collapse;">
                <tr style="border-bottom: 1px solid #ededed; background-color: #f1f1f1;">
                    <td style="width: 30%; padding: 10px 0 10px 10px; text-align: left;">
                        <p style="margin: 0;">Quantity</p>
                    </td>
                    <td style="width: 40%; text-align: center; padding: 10px 0;">
                        <p style="margin: 0;">Average Weight (Kg)</p>
                    </td>
                    <td style="text-align: right; padding: 10px 10px 10px 0px;">
                        <p style="margin: 0; line-height: 36px;">Total Weight (Kg)</p>
                    </td>
                </tr>
                <tr style="border-bottom: 1px solid #ededed; background-color: #fff;">
                    <td style="width: 30%; padding: 10px 0 10px 10px; text-align: left;">
                        <p style="margin: 0;">@Model.TotalQuantity</p>
                    </td>
                    <td style="width: 40%; text-align: center; padding: 10px 0;">
                        <p style="margin: 0;">@Model.AverageWeight</p>
                    </td>
                    <td style="text-align: center; padding: 10px 0;">
                        <p style="margin: 0;">@Model.TotalWeight</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="background-color: #fff;">
        <td style="padding: 15px 0 5px 25px; text-align: left;">
            <p style="font-weight: bold; margin: 0;">Details:</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 25px; background-color: #fff;">
            <table style="width: 100%; border-collapse: collapse;">
                <tr style="border-bottom: 1px solid #ededed; background-color:#f1f1f1;">
                    <td style="width: 30%; padding-left: 10px; padding: 10px 0 10px 10px; text-align: left;">
                        <p style="margin: 0;">Box Size Type</p>
                    </td>
                    <td style="width: 40%; text-align: center; padding: 10px 0;">
                        <p style="margin: 0;">Quantity</p>
                    </td>
                    <td style="text-align: right; padding: 10px 10px 10px 0px;">
                        <p style="margin: 0;">Average Weight (Kg)</p>
                    </td>
                </tr>
                @foreach(var item in @Model.PackingInformation)
                {
                <tr style="border-bottom: 1px solid #ededed; background-color: #fff;">
                    <td style="width: 30%; padding: 10px 0 10px 10px; text-align: left;">
                        <p style="margin: 0;">@item.BoxSizeLength&nbsp;x&nbsp;@item.BoxSizeWidth&nbsp;x&nbsp;@item.BoxSizeDepth'</p>
                    </td>
                    <td style="width: 40%; text-align: center; padding: 10px 0;">
                        <p style="margin: 0;">@item.Quantity</p>
                    </td>
                    <td style="text-align: center; padding: 10px 0;">
                        <p style="margin: 0;">@item.Weight</p>
                    </td>
                </tr>
                }
            </table>
        </td>
    </tr>
    <tr style="background-color: #fff;">
        <td style="padding: 15px 0 5px 25px; text-align: left;">
            <p style="font-weight: bold; padding: 15px 0 5px 0; margin: 0;">Notes:</p>
        </td>
    </tr>
    <tr style="background-color: #fff;">
        <td style="padding: 0 25px 20px 25px;">
            <p style="text-align:justify; margin: 0;">@Model.Notes</p>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" width="600" style="font-size: 16px; color:#383838; margin: 0 auto; font-family: 'Futura PT';">
                <tr>
                    <td style="background-color: #000; border-radius: 5px; text-align: center; padding: 15px 0;">
                        <a href="#" style="font-family: 'Futura PT'; text-decoration: none; margin: 0; color: #fff; font-size: 18px; letter-spacing: 0.05em;">Questions? Visit the <span style="text-decoration: underline; text-transform: capitalize;">help center</span></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>