﻿<table style="background-color: #f1f1f1; width: 100%;">
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" width="600" style="font-family: 'Futura PT'; font-size: 15px;  color: #383838; margin: 0 auto;">
                <tr>
                    <td style="text-align: center; background-color: #fff; padding: 30px 0 0 0; width:100%; border-radius: 5px 5px 0 0;">
                        <img src="[@LOGOURL]" width="240" alt="logo" />
                    </td>
                </tr>
                <tr style="background-color: #fff;">
                    <td style="padding: 25px 0px 0px 25px; text-align: left;">
                        <p style="font-weight: bold; margin: 0 0 5px 0;">From:<span style="font-weight: 400; padding-left: 5px;">[@CONTACTNAME]</span></p>
                        <p style="font-weight: bold; margin: 0 0 5px 0;">Email:<span style="font-weight: 400; padding-left: 5px; text-decoration: underline; color: #0057FF;">[@CONTACTEMAIL]</span></p>
                        <p style="font-weight: bold; margin: 0 0 5px 0;">Company Name:<span style="font-weight: 400; padding-left: 5px;">[@COMPANYNAME]</span></p>
                        <p style="font-weight: bold; margin: 0 0 5px 0;">Contact Phone:<span style="font-weight: 400; padding-left: 5px;">[@CONTACTPHONE]</span></p>
                        <p style="font-weight: bold; margin: 0 0 5px 0;">Topic Name:<span style="font-weight: 400; padding-left: 5px;">[@TOPICNAME]</span></p>
                    </td>
                </tr>
                <tr style="background-color: #fff;">
                    <td style="padding: 10px 0 10px 25px; text-align: left;">
                        <p style="font-weight: bold; line-height: 20px; margin: 0;">Question:</p>
                    </td>
                </tr>
                <tr style="background-color: #fff;">
                    <td style="padding: 0 25px 35px 25px; border-radius: 5px;">
                        <p style="padding-bottom: 20px; text-align:justify; margin: 0;">[@QUESTIONTEXT]</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
