﻿<table border="0" cellpadding="0" cellspacing="0" width="600" style="font-size: 16px; color:#383838; margin: 0 auto; font-family: 'Futura PT';">
    <tr style="text-align:center; margin-top: 30px; background-color: #fff;">
        <td style="width:100%; padding: 35px 0 15px 0; border-radius: 5px;">
            <img src="[@LOGOURL]" width="240" alt="logo" />
        </td>
    </tr>
    <tr style="background-color: #fff;">
        <td style="padding: 15px 0 0 0;">
            <p style="font-size: 24px; text-transform: capitalize; text-align: center; margin-bottom: 15px; line-height: 36px; font-weight: 500;">
                EDI 850 transfer to shipper failed for PO Number - [@PONUMBER]
            </p>
        </td>
    </tr>
    <tr style="background-color: #fff;">
        <td style="padding: 15px 0 0 0;">
            <p style="font-size: 24px; text-transform: capitalize; text-align: center; margin-bottom: 15px; line-height: 36px; font-weight: 500;">
                In order to manually send EDI files <a href="[@LINK]" target="_blank">click this link.</a>
            </p>
        </td>
    </tr>
</table>
