﻿<table style="width: 100%; margin: 0 auto; text-align: center; background-color: #f0f0f0;" ">
    <tr>
        <td>
            <table border="0" cellspacing="0" width="600" style="font-family: Arial; font-size: 16px; color: #000; margin: 20px auto; background-color: #fff; border-radius: 5px; text-align: center;">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="width: 5%;"></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="text-align: center; background-color: #fff; padding: 30px 0 40px 0; width:100%; border-radius: 5px 5px 0 0;">
                                                <img src="[@LOGOURL]" style="max-width: 250px;" alt="logo" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0 0px 30px 0px; border-top: 3px solid black; line-height: 0px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0 40px 15px 40px;font-size: 16px; text-align: center; letter-spacing: 0.05em;font-family: Arial; font-weight: 100;">
                                                <p style="margin: 0px 0px 10px 0px;">Hi <span class="padding: 0;">[@CONTACTNAME]</span>,</p>
                                                <p style="margin: 0px 0px 10px 0px;">It looks like you may have forgotten your password.</p>
                                                <p style="margin: 0px; line-height: 20px;">If you did not make this request, please disregard this email and nothing will change.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <!--[if mso]>
                                              <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="[@FORGOTPASSWORDURL]" style="height:45px;v-text-anchor:middle;width:520px;" arcsize="0%" strokecolor="#e32323" fillcolor="#e32323">
                                                <w:anchorlock/>
                                                <center style="color:#ffffff;font-family:Arial;font-size:16px;">RESET PASSWORD</center>
                                              </v:roundrect>
                                            <![endif]-->
                                            <!--[if !mso]><!-- -->
                                            <td>
                                                <a href="[@FORGOTPASSWORDURL]" style="mso-hide:all;">
                                                    <p style="background-color:#e32323;margin: 0;color:#ffffff;display:inline-block;font-family:Arial;font-size:16px;line-height:45px;text-align:center;text-decoration:none;-webkit-text-size-adjust:none; width: 100%;">
                                                        RESET PASSWORD
                                                    </p>
                                                </a>
                                            </td>
                                            <!--<![endif]-->
                                        </tr>
                                        <tr>
                                            <td style="font-size: 16px; text-align: center; padding: 15px 0 15px 0; letter-spacing: 0.025em; line-height: 0px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0 0px 30px 0px; border-top: 3px solid black; line-height: 0px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; font-size: 12px; letter-spacing: 0.05em; font-family: Arial; font-weight: 100;">
                                                <p style="margin:0 0 10px 0;">Luxury Market</p>
                                                <p style="margin:0 0 10px 0;">230 West 38th Street, 5th Floor</p>
                                                <p style="margin:0 0 5px 0;">New York, New York 10018</p>
                                                <p style="margin: 35px 0;">&#169; 2017 Luxury Market, All rights reserved.</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width: 5%;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>