﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>


    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
