﻿<div class="container-fluid create-offer-page edit-offer-view">
    <div class="row">
        <div class="col-md-12 nav-steps nopadding margin-t-10">
            <div class="page-steps">
                <a href="#" class="medium-blue-1">products &amp; offers</a>
                <a href="#"> &#47; products &amp; create offers</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 nopadding">
            <p class="manage-title">create offer</p>
        </div>
        <div class="col-md-6 text-right nopadding"
             ng-class="{'align-btn': !co.isViewMode()}">
            <button class="btn-lm btn-lm-small"
                    ng-disabled="co.products.length === 0"
                    ng-click="co.toggleViewMode()">
                create offer
                <span class="arrow-angle-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </button>
        </div>
    </div>
    <div class="row margin-b-15 seller-products-filter">
        <div class="col-md-3 col-sm-3 no-padding-l select-container">

            <div class="shop-top">
                <ui-select class="select-box"
                           theme="bootstrap"
                           multiple
                           ng-model="co.selBrands"
                           title="Brands"
                           close-on-select="false"
                           append-to-body="true"
                           allow-clear="true"
                           on-select="co.selectBrand($item, $model)"
                           on-remove="co.removeBrand($item, $model)">
                    <ui-select-match placeholder="BRANDS">
                        {{$item.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="b in co.brands | filter: $select.search track by b.id" class="menu-right">
                        {{b.name}}
                    </ui-select-choices>
                    <ui-select-no-choice>
                        Dang!  We couldn't find any choices...
                    </ui-select-no-choice>
                </ui-select>
                <span class="caret-down-arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 select-container">
            <div class="shop-top">
                <ui-select class="select-box"
                           theme="bootstrap"
                           multiple
                           ng-model="co.selCategories"
                           title="Categories"
                           close-on-select="false"
                           append-to-body="true"
                           allow-clear="true"
                           on-select="co.selectCategory($item, $model)"
                           on-remove="co.removeCategory($item, $model)">
                    <ui-select-match placeholder="CATEGORIES">
                        {{$item.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="cat in co.categories | filter: $select.search track by cat.id" class="menu-right">
                        {{cat.name}}
                    </ui-select-choices>
                    <ui-select-no-choice>
                        Dang!  We couldn't find any choices...
                    </ui-select-no-choice>
                </ui-select>
                <span class="caret-down-arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 select-container">
            <div class="shop-top">
                <ui-select class="select-box"
                           theme="bootstrap"
                           multiple
                           ng-model="co.selSeasons"
                           title="Seasons"
                           close-on-select="false"
                           append-to-body="true"
                           allow-clear="true"
                           on-select="co.selectSeason($item, $model)"
                           on-remove="co.removeSeason($item, $model)">
                    <ui-select-match placeholder="SEASONS">
                        {{$item.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="s in co.seasons | filter: $select.search track by s.id" class="menu-right">
                        {{s.name}}
                    </ui-select-choices>
                    <ui-select-no-choice>
                        Dang!  We couldn't find any choices...
                    </ui-select-no-choice>
                </ui-select>
                <span class="caret-down-arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-3">
            <div class="shop-top">
                <div class="navigation-shop nopadding text-right">
                    <div class="sort-filter">
                        <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input placeholder="search" class="input-search" type="text"
                               ng-keyup="co.handleKeywordSearch($event)" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-1 no-padding-r no-padding-l">
            <div class="inventory-filter">
                <span>
                    <input type="checkbox" ng-model="co.filter.hasInventory"
                           id="hasInventoryFilter" value="{{co.filter.hasInventory}}"
                           ng-click="co.toggleHasInventoryFilter($event)" />
                    <label for="hasInventoryFilter" class="check-name"><span></span></label>
                </span>
                <span class="inventory-filter-text">With Inventory</span>
            </div>
        </div>
    </div>

    <div class="row line-down-vertical edit-offer-view" ng-if="!co.isViewMode()">
        <div class="col-md-12 horizontal-list">
            <div class="row">
                <div class="col-md-4 col-sm-4 nopadding unselected-form">
                    <button class="btn-lm btn-lm-list red" ng-click="co.selectAllProducts($event)">{{co.areAllSelected ? 'DeselectAll' : 'Select All'}}</button>
                </div>
                <div class="col-md-8 col-sm-8 text-right shop-details">
                    <div class="shop-top display-ib">
                        <div class="navigation-shop nopadding text-right">
                            <span class="font-16">Price Selection at </span>
                            <div class="sort-filter">
                                <input class="input-search price-selection"
                                       type="number"
                                       ng-model="co.updatePercent" />
                                <span class="percent-icon">&#37;</span>
                                <div class="dropdown small-dropdown">
                                    <button class="btn-lm btn-lm-filter" data-toggle="dropdown">
                                        {{co.updatePercentName == null ? 'Terms' : co.updatePercentName}}
                                        <span class="angle-down"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                    </button>
                                    <ul class="dropdown-menu menu-right">
                                        <li ng-repeat="o in co.updatePercentages" ng-click="co.selectTerm(o)">{{o.name}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-btn display-inline">
                        <button class="btn-lm btn-lm-list red" ng-disabled="co.updatePercent === null"
                                ng-click="co.updatePageItemsPricing()">
                            Apply Pricing
                            <span class="text-center spinner-icon" ng-if="co.isUpdatingPricings"><i class="fa fa-spinner spinning"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="scrollbar-bar-products">
        <div class="row horizontal-list edit-offer-view">
            <div class="col-md-12 main-content-horizontal" ng-if="co.products.length === 0 && co.isLoading && !co.isFiltering">
                <div class="row">
                    <div class="col-md-12 product-loader">
                        <br /><br />
                        <span class="text-center spinner-icon"><i class="fa fa-spinner spinning"></i></span>
                        <p class="loader-text margin-t-10">Please wait while your products are loading</p>
                        <br /><br />
                    </div>
                </div>
            </div>
            <div class="col-md-12 main-content-horizontal" ng-if="co.products.length === 0 && !co.isLoading">
                <div class="row">
                    <div class="col-md-12 product-loader">
                        <br /><br />
                        <p class="loader-text margin-t-10">Sorry! We didn't find any products for your search...</p>
                        <br /><br />
                    </div>
                </div>
            </div>
            <div class="col-md-12 main-content-horizontal" ng-if="co.isFiltering">
                <div class="row">
                    <div class="col-md-12 product-loader">
                        <p class="loader-text margin-t-10">
                            Filtering products...
                            <span class="text-center spinner-icon"><i class="fa fa-spinner spinning"></i></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 main-content-horizontal">
                <div class="row product-details-row" ng-repeat="p in co.products">

                    <div class="col-lg-2 col-md-2 text-center align-edit-view">
                        <div class="form-group form-products check-product"
                             ng-if="!co.isViewMode()">
                            <input type="checkbox" ng-model="p.isSelected"
                                   id="{{p.productId}}" value="{{p.productId}}"
                                   ng-click="co.toggleProductSelection($event, p, p.viewPrice)" />
                            <label for="{{p.productId}}" class="check-name"><span></span></label>
                        </div>
                        <img ng-src="{{p.imageName.length > 0 ? p.productMainImageLink : './images/noimage.png'}}" />
                    </div>

                    <div class="col-lg-7 col-md-6 about-product">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="information">{{p.productName}}</p>
                                <p class="brand">{{p.brandName}}</p>
                                <p class="detail">product id:<span>{{p.sellerSKU}}</span></p>
                            </div>
                            <div class="col-md-5">
                                <p class="detail">retail price:<span>{{co.currencySymbol}}{{p.retailPrice}}</span></p>
                                <p class="detail">category:<span>{{p.categoryName}}</span></p>
                                <p class="detail">season:<span>{{p.seasonName}}</span></p>
                            </div>
                            <div class="col-md-3">
                                <p class="detail">cost:<span>{{co.currencySymbol}}{{p.wholesaleCost}}</span></p>
                                <p class="detail">material:<span>{{p.standardMaterialName}}</span></p>
                                <p class="detail">color:<span>{{p.standardColorName}}</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 price-part nopadding text-right">

                        <!-- Create Offer -> this appears -->
                        <div class="row best-price shop-top" ng-if="!co.isViewMode()">
                            <div class="col-md-12 navigation-shop text-right">
                                <div class="sort-filter">
                                    <label class="label-changes">Price</label>
                                    <span class="dolar-icon">{{co.currencySymbol}}</span>
                                    <input class="input-value" type="number"
                                           ng-model="p.viewPrice"
                                           ng-change="co.productPriceChanged(p.viewPrice, p.productId)" />
                                </div>
                            </div>
                        </div>

                        <div class="row best-price shop-top">
                            <!-- <div class="col-md-12 navigation-shop text-right">
                                <div class="sort-filter">
                                    <input class="btn-lm btn-lm-filter input-search price-variance" type="number" />
                                    <span class="percents">&#37;</span>
                                    <p class="name-box">Retail Variance</p>
                                </div>
                                <div class="sort-filter">
                                    <input class="btn-lm btn-lm-filter input-search price-variance" type="number" />
                                    <span class="percents-icon percents">&#37;</span>
                                    <p class="name-box">Cost Variance</p>
                                </div>
                            </div> -->
                        </div>


                        <div class="dropdown qty-sizes">
                            <button class="btn-lm red-btn dropdown-toggle"
                                    ng-class="{'btn-view' : co.isViewMode()}"
                                    data-toggle="dropdown"
                                    ng-click="co.getProductSizes(p)">
                                View Units &amp; Sizes<span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                            </button>
                            <ul class="dropdown-menu qty-sizes-menu">
                                <li class="detail-order">
                                    <div class="row margin-0">
                                        <div class="col-xs-6">
                                            <p class="padding-l-15">{{'PRODUCT_DETAILS_SIZE'| translate}}</p>
                                        </div>
                                        <div class="col-xs-6">
                                            <p class="detail-qty">{{'PRODUCT_DETAILS_QTY'| translate}}</p>
                                        </div>
                                    </div>
                                </li>
                                <li ng-if="p.isLoadingSizes" class="text-center">
                                    <br />
                                    <span class="spinner-icon">Loading inventory...<i class="fa fa-spinner spinning"></i></span>
                                    <br />
                                </li>
                                <li class="items" ng-repeat="size in p.sizes.sellerSizesList" ng-init="pd.initSize(offer, size)">
                                    <div class="row margin-0 row-items">
                                        <div class="col-xs-6">
                                            <p class="size"><span>{{size.size}}</span></p>
                                        </div>
                                        <div class="qty-details col-xs-6">
                                            <span ng-if="!co.isViewMode()">{{'PRODUCT_DETAILS_OF'| translate}}&nbsp;</span>
                                            <span>{{size.quantity}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-right"
         ng-if="co.products.length > 0">
        <ul uib-pagination
            class="pagination-sm"
            boundary-links="true"
            first-text="First"
            last-text="Last"
            boundary-link-numbers="true"
            previous-text="Previous"
            next-text="Next"
            items-per-page="50"
            total-items="co.totalItems"
            num-pages="co.totalPages"
            max-size="co.maxSize"
            ng-model="co.filter.page"
            ng-change="co.changePage()"></ul>
    </div>

    <!-- Create Offer -> this appears -->
    <div class="row">
        <div class="col-md-12 text-right nopadding edit-offer-view btn-box">
            <button class="btn-lm btn-lm-small btn-fixed"
                    ng-class="{'align-btn': co.isViewMode()}"
                    ng-click="co.createOffer($event)">
                create offer
                <span class="arrow-angle-right">
                    <i class="fa"
                       ng-class="{
                        'fa-angle-right' : !co.isCreatingOffer,
                        'fa-spinner spinning': co.isCreatingOffer}"
                       aria-hidden="true"></i>
                </span>
            </button>
        </div>
    </div>
</div>
