﻿<div class="row margin-t-40">
    <div class="col-md-12">
        <p class="review-title" translate="STEP_TWO_TITLE"></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="border-line-up"></div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 form-date-group">
                <form class="form-inline">
                    <div class="form-group data-group">
                        <label class="control-label label-text" for="start-date">{{'STEP_TWO_START_DATE'| translate}}&#58;</label>
                        <div class="dropdown-toggle dropdown-calendar" id="startDateDropdown" role="button" data-toggle="dropdown" ng-click="offerdetails.checkReadonly($event, offerdetails.readonly.startDate)">
                            <input type="text" class="form-control date-form" name="month" placeholder="MM" value="{{offerdetails.details.offerStartDate === null ? offerdetails.details.offerStartDate.getMonth() : (offerdetails.details.offerStartDate.getMonth() + 1)}}" ng-readonly="offerdetails.readonly.startDate" />
                            <span class="slash">&#47;</span>
                            <input type="text" class="form-control date-form active" value="{{offerdetails.details.offerStartDate.getDate()}}" name="date" placeholder="DD" ng-readonly="offerdetails.readonly.startDate" />
                            <span class="slash">&#47;</span>
                            <input type="text" class="form-control date-form year-input" name="year" placeholder="YYYY" value="{{offerdetails.details.offerStartDate.getFullYear()}}" ng-readonly="offerdetails.readonly.startDate" />
                        </div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="offerdetails.details.offerStartDate"
                                            data-on-set-time="offerdetails.startDateOnSetTime()"
                                            data-datetimepicker-config="{ dropdownSelector: '#startDateDropdown', renderOn: 'end-date-changed', minView:'day' }"
                                            data-before-render="offerdetails.startDateBeforeRender($event, $dates)" />
                        </ul>
                    </div>
                    <div class="form-group data-group">
                        <label class="control-label label-text" for="start-date">{{'STEP_TWO_END_DATE'| translate}}&#58;</label>
                        <div class="dropdown-toggle dropdown-calendar" id="endDateDropdown" role="button" data-toggle="dropdown" ng-click="offerdetails.checkReadonly($event, offerdetails.readonly.endDate)">
                            <input type="text" class="form-control date-form" name="month" placeholder="MM" value="{{offerdetails.details.offerEndDate === null ? offerdetails.details.offerEndDate.getMonth() : (offerdetails.details.offerEndDate.getMonth() + 1)}}" ng-readonly="offerdetails.readonly.endDate" />
                            <span class="slash">&#47;</span>
                            <input type="text" class="form-control date-form" name="date" placeholder="DD" value="{{offerdetails.details.offerEndDate.getDate()}}" ng-readonly="offerdetails.readonly.endDate" />
                            <span class="slash">&#47;</span>
                            <input type="text" class="form-control date-form year-input" name="year" placeholder="YYYY" value="{{offerdetails.details.offerEndDate.getFullYear()}}" ng-readonly="offerdetails.readonly.endDate" />
                        </div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="offerdetails.details.offerEndDate"
                                            data-on-set-time="offerdetails.endDateOnSetTime()"
                                            data-datetimepicker-config="{ dropdownSelector: '#endDateDropdown', renderOn: 'start-date-changed', minView:'day' }"
                                            data-before-render="offerdetails.endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)" />
                        </ul>
                    </div>
                    <div class="form-group take-group">
                        <input type="checkbox" id="take-all" placeholder="" ng-readonly="offerdetails.readonly.takeAll" ng-model="offerdetails.details.isTakeAll" ng-change="offerdetails.updateTakeAll()" />
                        <label class="control-label label-text" for="take-all" ng-click="offerdetails.checkReadonly($event, offerdetails.readonly.takeAll)">{{'STEP_TWO_TAKE_ALL'| translate}}&#58;<span></span></label>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-right button-sm">
                <button class="btn-lm btn-lm-upload" ng-if="offerdetails.showButton.continueProcess" ng-click="offerdetails.continue($event)">{{'STEP_TWO_CONTINUE_BUTTON' | translate}}<span class="arrow"><i class="fa fa-angle-right" aria-hidden="false"></i></span></button>
                <button class="btn-lm btn-lm-upload" ng-if="offerdetails.showButton.newOffer" ui-sref="admin.new-offer.upload">New Offer<span class="arrow"><i class="fa fa-angle-right" aria-hidden="false"></i></span></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 information-page">
        <div class="border-line-down"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="navigation nav-products">
                    <a href="#" ng-click="offerdetails.filterBy($event, filter)" ng-repeat="filter in offerdetails.filters" class="{{filter.cssClass}}" ng-class="{'active' : filter.active}">{{ filter.label | translate}} <span>({{filter.count}})</span></a>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-products">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th translate="STEP_TWO_TABLE_HEADER_IMAGES"></th>
                        <th class="detail-th" translate="STEP_TWO_TABLE_HEADER_DETAILS"></th>
                        <th>{{'STEP_TWO_TABLE_HEADER_RETAIL_PRICE' | translate}}<br /> {{'STEP_TWO_TABLE_HEADER_RETAIL_PRICE_2' | translate}}</th>
                        <th>{{'STEP_TWO_TABLE_HEADER_DISCOUNT' | translate}}<br /> {{'STEP_TWO_TABLE_HEADER_DISCOUNT_2' | translate}}</th>
                        <th>{{'STEP_TWO_TABLE_HEADER_OFFER_PRICE' | translate}}<br /> {{'STEP_TWO_TABLE_HEADER_OFFER_PRICE_2' | translate}} ({{offerdetails.details.currency.text}})</th>
                        <th translate="STEP_TWO_TABLE_HEADER_UNITS"></th>
                        <th>{{'STEP_TWO_TABLE_HEADER_TOTAL_COST' | translate}}<br /> {{'STEP_TWO_TABLE_HEADER_TOTAL_COST_2' | translate}} ({{offerdetails.details.currency.text}})</th>
                        <th>{{'STEP_TWO_TABLE_HEADER_LINE_BUY' | translate}}<br /> {{'STEP_TWO_TABLE_HEADER_LINE_BUY_2' | translate}}</th>
                        <th>{{'STEP_TWO_TABLE_HEADER_INCLUDE_EXCLUDE' | translate}}<br /> {{'STEP_TWO_TABLE_HEADER_INCLUDE_EXCLUDE_2' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="total-row">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span class="bold-number" ng-bind="offerdetails.details.totalUnits"></span>
                        </td>
                        <td>
                            <span class="bold-number">{{offerdetails.details.totalCost | number: 2}}</span>
                        </td>
                        <td>
                            <form>
                                <div class="checkbox check-linebuy form-group">
                                    <input type="checkbox" id="line-buy-all" name="line-buy-all" ng-model="offerdetails.allLineBuy" ng-click="offerdetails.selectAllLineBuy($event)" />
                                    <label for="line-buy-all" ng-click="offerdetails.checkReadonly($event, offerdetails.readonly.lineBuy)">{{'STEP_TWO_LINE_BUY_ALL' | translate}}<span></span></label>
                                </div>
                            </form>
                        </td>
                        <td><span class="inactive-all" ng-if="offerdetails.onErrorsTab" ng-click="offerdetails.excludeAll()">exclude all</span></td>
                    </tr>
                    <tr ng-repeat="product in offerdetails.details.items | filter : offerdetails.isStatus |  orderBy : '-include'" ng-class="{'excluded' : !product.include}">
                        <td class="image-size">
                            <img ng-src="{{product.mainImageLink}}" />
                        </td>
                        <td class="details-table">
                            <div class="row">
                                <div class="col-md-12 details-text">
                                    <div class="details-brand">
                                        {{product.brandName}}<span class="slash">&#47;</span>{{product.categoryName.length > 0 ? product.categoryName : 'Unknown'}}
                                        <div class="dropdown" ng-show="product.hasErrors">
                                            <i class="text-red fa fa-exclamation-triangle dropdown-toggle pointer" id="dLabel" data-toggle="dropdown" aria-hidden="true"></i>
                                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                                <li ng-repeat="error in product.errors" ng-bind="error.message"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 details-text">
                                    <p class="name-product" ng-click="offerdetails.viewProductDetails($event, product)">{{product.productName.length > 0 ? product.productName : 'Unknown'}}</p>
                                    <p class="bold-name">{{'STEP_TWO_TABLE_BODY_PRODUCT_ID'| translate}}: <span ng-bind="product.modelNumber"></span></p>
                                </div>
                                <div class="col-md-6 details-text">
                                    <p class="bold-name">{{'STEP_TWO_TABLE_BODY_MATERIAL'| translate}}&#58; <span ng-bind="product.materialCode"></span></p>
                                    <p class="bold-name">{{'STEP_TWO_TABLE_BODY_COLOR'| translate}}&#58; <span ng-bind="product.colorCode"></span></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span>{{product.productRetailPrice | currency : undefined : 0}}</span>
                        </td>
                        <td>
                            <span>{{product.customerDiscount}}%</span>
                        </td>
                        <td class="price-number total-row" ng-if="!offerdetails.readonly.price">
                            <span class="pointer" ng-hide="product.showPriceInput" ng-click="offerdetails.changePrice($event, product)">{{product.offerCostValue | number:2}}</span>
                            <form class="relative" name="offerdetails.productPriceForm{{product.offerImportBatchItemId}}" ng-show="product.showPriceInput">
                                <input type="text" required ng-pattern="/^\d+((\.|\,)\d+)?$/" class="offer-inline-price" name="offerCostNewValue" ng-model="product.offerCostNewValue" ng-blur="offerdetails.updatePrice($event, product)" ng-keyup="$event.keyCode == 13 && offerdetails.updatePrice($event, product)" />
                                <div class="error-messages" ng-messages="offerdetails['productPriceForm' + product.offerImportBatchItemId].$error" ng-show="offerdetails['productPriceForm' + product.offerImportBatchItemId].offerCostNewValue.$dirty" role="alert">
                                    <div ng-message="required" class="message">Price required</div>
                                    <div ng-message="pattern" class="message">Price invalid</div>
                                </div>
                            </form>
                            <i class="fa fa-spinner spinning" ng-show="product.updateInProgress"></i>
                        </td>
                        <td class="price-number" ng-if="offerdetails.readonly.price">
                            <span>{{product.offerCostValue | number:2}}</span>
                        </td>
                        <td class="total-row">
                            <span ng-bind="product.actualTotalUnits"></span>
                        </td>
                        <td class="total-row">
                            <span>{{product.offerTotalPrice | number:2}}</span>
                        </td>
                        <td>
                            <form>
                                <div class="checkbox checkbox-lb form-group">
                                    <input type="checkbox" id="line-buy-{{product.offerImportBatchItemId}}" name="iCheck" ng-change="offerdetails.updateLineBuy(product)" ng-model="product.isLineBuy" />
                                    <label for="line-buy-{{product.offerImportBatchItemId}}" ng-click="offerdetails.checkReadonly($event, offerdetails.readonly.lineBuy)"><span></span></label>
                                </div>
                            </form>
                        </td>
                        <td>
                            <div ng-click="offerdetails.clickIncludeExclude($event, product)">
                                <i class="include-exclude" ng-class="{'fa fa-check-circle include-icon' : product.include, 'fa fa-times-circle exclude-icon' : !product.include}"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="border-line-up"></div>
        </div>
    </div>
</div>
<div class="row margin-t-20">
    <div class="col-md-12 text-right button-sm">
        <button class="btn-lm btn-lm-upload" ng-if="offerdetails.showButton.continueProcess" ng-click="offerdetails.continue($event)">{{'STEP_TWO_CONTINUE_BUTTON' | translate}}<span class="arrow"><i class="fa fa-angle-right" aria-hidden="false"></i></span></button>
        <button class="btn-lm btn-lm-upload" ng-if="offerdetails.showButton.newOffer" ui-sref="admin.new-offer.upload">New Offer<span class="arrow"><i class="fa fa-angle-right" aria-hidden="false"></i></span></button>
    </div>
</div>
