﻿
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 nav-steps">
            <div class="page-steps">
                <a href="#" class="medium-blue-1" ng-click="producterror.back($event, 1)" translate="REPORT_ERROR_TITLE_BREADCRUMB"></a>
                <a href="#" class="medium-blue-1" ng-click="producterror.back($event, 2)"><span>&#47;</span> {{producterror.productDetails.productName}}</a>
                <a><span>&#47;</span> {{'REPORT_ERROR_TITLE' | translate}}</a>
            </div>
            <div class="border-line-down"></div>
        </div>
    </div>
    <div class="row margin-t-40">
        <div class="col-md-12 report-information">
            <p class="text-center title-report" translate="REPORT_ERROR_TITLE"></p>
            <p class="text-center info-raport">{{'REPORT_ERROR_SUBTITLE_1' | translate}} <br /> {{'REPORT_ERROR_SUBTITLE_2' | translate}}</p>
        </div>
    </div>
    <div class="row margin-t-10">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10 product-error">
            <p>{{'REPORT_ERROR_PRODUCT_NAME' | translate}}&#58;<span ng-bind="producterror.productDetails.productName"></span></p>
            <p>{{'REPORT_ERROR_PRODUCT_ID' | translate}}&#58;<span ng-bind="producterror.productDetails.sku"></span></p>
            <p>{{'REPORT_ERROR_PRODUCT_BRAND' | translate}}&#58;<span ng-bind="producterror.productDetails.brandName"></span></p>
            <form name="producterror.sendErrorForm" ng-submit="producterror.submitError()">
                <div class="form-group">
                    <label for="issue" class="issue-label">{{'REPORT_ERROR_PRODUCT_ISSUE' | translate}}&#58;</label>
                    <textarea rows="4" class="textarea-error form-control" ng-model="producterror.issue" id="issue" name="issue" placeholder="Type the error here." ng-maxlength="500" required></textarea>
                    <div class="error-messages" ng-messages="producterror.sendErrorForm.issue.$error" ng-show="producterror.sendErrorForm.issue.$dirty" role="alert">
                        <div ng-message="required" class="message">Error message is required</div>
                        <div ng-message="maxlength" class="message">Error message must have max 500 characters</div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn-lm margin-t-40 error-btn" type="submit" ng-disabled="producterror.sendErrorForm.$invalid || producterror.isLoading">
                        {{'REPORT_ERROR_BUTTON' | translate}}
                        <i class="fa fa-spinner spinning" ng-show="producterror.isLoading"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-1 col-sm-1"></div>
    </div>
</div>
