﻿@font-face {
  font-family: 'luxurymarket';
  src:  url('../fonts/luxurymarket.eot?i5tvax');
  src:  url('../fonts/luxurymarket.eot?i5tvax#iefix') format('embedded-opentype'),
    url('../fonts/luxurymarket.woff2?i5tvax') format('woff2'),
    url('../fonts/luxurymarket.ttf?i5tvax') format('truetype'),
    url('../fonts/luxurymarket.woff?i5tvax') format('woff'),
    url('../fonts/luxurymarket.svg?i5tvax#luxurymarket') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lm-"], [class*=" lm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'luxurymarket' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lm-uncheck:before {
  content: "\e912";
}
.lm-check:before {
  content: "\e913";
}
.lm-open:before {
  content: "\e900";
}
.lm-lock:before {
  content: "\e901";
}
.lm-delete:before {
  content: "\e902";
}
.lm-active:before {
  content: "\e903";
}
.lm-close:before {
  content: "\e904";
}
.lm-a-down-01:before {
  content: "\e905";
}
.lm-arrow-left-01:before {
  content: "\e906";
}
.lm-a-up-01:before {
  content: "\e907";
}
.lm-dashboard-01:before {
  content: "\e908";
}
.lm-drop-close-01:before {
  content: "\e909";
}
.lm-drop-open-01:before {
  content: "\e90a";
}
.lm-left-01:before {
  content: "\e90b";
}
.lm-myaccount-01:before {
  content: "\e90c";
}
.lm-offers-01:before {
  content: "\e90d";
}
.lm-orders-01:before {
  content: "\e90e";
}
.lm-reports-01:before {
  content: "\e90f";
}
.lm-right-01:before {
  content: "\e910";
}
.lm-search-01:before {
  content: "\e911";
}

