﻿<div class="container-fluid description-container design-container">
    <div class="row">
        <div class="col-md-12">
            <div class="navigation margin-t-10">
                <a href="#">{{'BRANDS_NAVIGATION_HOME'| translate}}</a>
                <span>{{'BRANDS_NAVIGATION_BRANDS'| translate}}</span>
            </div>
            <div class="subtitle-home margin-t-20 left">
                <p class="first-subtitle subtitle">{{'BRANDS_SUBTITLE1'| translate}}</p>
                <p class="second-subtitle text-left">{{'BRANDS_SUBTITLE2'| translate}}</p>
            </div>
        </div>
    </div>
    <div class="row brands-list margin-b-20">
        <div class="col-md-3 col-sm-3 col-xs-3" ng-repeat="brandsGroup in brands.list">
            <div class="brand-name pointer" ng-click="brands.viewProducts(brand)" ng-bind="brand.name" ng-repeat="brand in brandsGroup"></div>
        </div>
    </div>
</div>
