﻿<div class="cart-items">
    <div class="cart-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <h1>{{'TITLE' | translate }}</h1>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-3 col-xs-5">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-3 cart-summary-el">
                            <p class="el-title" translate="SUMMARY_ITEMS"></p>
                            <p class="el-content" ng-bind="cart.details.itemsCount"></p>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 cart-summary-el">
                            <p class="el-title" translate="SUMMARY_UNITS">Units</p>
                            <p class="el-content" ng-bind="cart.details.unitsCount"></p>
                        </div>
                        <div class="col-md-6 col-sm-5 col-xs-6 cart-summary-el">
                            <p class="el-title" translate="SUMMARY_TOTAL_COST"></p>
                            <p class="el-content">{{cart.details.totalLandedCost | currency:undefined:0}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-6 col-xs-7 text-right">
                    <a href="{{cart.exportLink}}" class="btn-lm inverse btn-lm-export">
                        {{'EXPORT_BUTTON' | translate}}
                    </a>
                    <button class="btn-lm big-font big-btn" ng-click="cart.continuePurchase()">{{ 'CONTINUE_BUTTON' | translate }}<i class="fa fa-angle-right arrow padding-l-20" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="cart-items-table table-condensed" ng-if="cart.groupByType === 'default'">
                    <thead>
                        <tr>
                            <th>
                                <div class="btn-group filter-dropdown">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{'TABLE_HEADER_DROPDOWN_TITLE' | translate}} <span class="fa fa-angle-down"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="cart.groupBy($event, 'default')"><a href="#">{{'TABLE_HEADER_DROPDOWN_DEFAULT' | translate}}</a></li>
                                        <li ng-click="cart.groupBy($event, 'category')"><a href="#">{{'TABLE_HEADER_DROPDOWN_CATEGORY' | translate}}</a></li>
                                        <li ng-click="cart.groupBy($event, 'brand')"><a href="#">{{'TABLE_HEADER_DROPDOWN_BRAND' | translate}}</a></li>
                                    </ul>
                                </div>
                            </th>
                            <th class="empty"></th>
                            <th translate="TABLE_HEADER_ITEMS" class="items-box"></th>
                            <th translate="TABLE_HEADER_PRICE" class="price-box"></th>
                            <th translate="TABLE_HEADER_TOTAL_COST" class="width-head"></th>
                            <th class="units-sizes-header" translate="TABLE_HEADER_SELLER_UNITS_SIZES"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cart-item" ng-class="{'open' : product.isOpen, 'inactive' : product.inactive}" ng-repeat="product in cart.details.items | orderBy : '+inactive'">
                            <td class="item-image">
                                <img ng-src="{{product.productMainImageLink}}" />
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td class="hidden-xs"></td>
                            <td class="items">
                                <p class="name" ng-click="cart.open($event, product)">
                                    <i class="fa" ng-class="{'fa-angle-down' : !product.isOpen, 'fa-angle-up' : product.isOpen}"></i> {{product.productName}}
                                </p>
                                <p class="brand">
                                    {{product.brandName}}
                                </p>
                                <div class="more-info">
                                    <p class="details-info"><span class="details-info-label">{{'PRODUCT_CATEGORY' | translate }}:</span>{{product.categoryName}}</p>
                                    <p class="details-info"><span class="details-info-label">{{'PRODUCT_PRODUCT_ID' | translate }}:</span>{{product.productId}}</p>
                                    <p class="details-info"><span class="details-info-label">{{'PRODUCT_MATERIAL' | translate }}:</span>{{product.materialCode}}</p>
                                </div>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td class="prices">
                                <p class="unit-price">
                                    {{product.averageUnitCost |currency :undefined:0}}<span ng-show="product.sellerUnits.length > 1" translate="PRODUCT_PRICE_AVERAGE"></span>
                                </p>
                                <p class="discount">
                                    {{'PRODUCT_DISCOUNT' | translate }}: <span class="discount-percentage">{{product.averageUnitDiscountPercentage| number:0}}%</span><span ng-show="product.sellerUnits.length > 1" translate="PRODUCT_PRICE_AVERAGE"></span>
                                </p>
                                <div class="more-info">
                                    <p class="details-info"><span class="details-info-label">{{'PRODUCT_COLOR' | translate }}:</span>{{product.colorName}}</p>
                                    <p class="details-info"><span class="details-info-label">{{'PRODUCT_SEASON' | translate }}:</span>{{product.seasonName}}</p>
                                </div>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td>
                                <p class="price">
                                    {{product.totalLandedCost | currency:undefined:0}}
                                </p>
                                <p>
                                    &nbsp;
                                </p>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td class="units-sizes">
                                <div class="dropdown qty-sizes" ng-repeat="seller in product.sellerUnits">
                                    <div class="row units-size-info dropdown-toggle" data-toggle="dropdown">
                                        <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                                            <span>{{seller.sellerAlias}}</span>
                                            <span class="unit-count"><span class="bold">{{seller.unitsCount}}</span>&nbsp;{{'SELLER_UNITS' | translate }}</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 nopadding">

                                            <span class="units-price">@&nbsp;{{seller.lmUnitPrice | currency:undefined:0}}</span>
                                            <span class="total-price bold">{{seller.totalLandedCost | currency:undefined:0}}</span>
                                        </div>
                                    </div>
                                    <ul class="dropdown-menu qty-sizes-menu" aria-labelledby="dLabel">
                                        <li class="margin-t-15">
                                        <li class="margin-t-15">
                                            <div class="padding-l-15">
                                                <p class="dropdown-title">{{seller.sellerAlias}}</p>
                                                <p class="dropdown-subtitle">ships from&#58; {{seller.shipsFromRegion}}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="row select-remove" ng-show="!seller.isLineBuy && !seller.isTakeOffer">
                                                        <p class="col-md-6 col-xs-6" ng-click="cart.selectAllSizes($event, seller, 0)">
                                                            Remove All
                                                        </p>
                                                        <p class="col-md-6 col-xs-6 text-right" ng-click="cart.selectAllSizes($event, seller, 1)">
                                                            Select All
                                                        </p>
                                                    </div>
                                                    <div class="row select-remove" ng-show="seller.isTakeOffer || seller.isLineBuy">
                                                        <p class="col-md-12 col-sm-12 text-center">
                                                            <span ng-show="seller.isTakeOffer" class="font-18">Take all</span>
                                                            <span ng-show="seller.isLineBuy && !seller.isTakeOffer">Line Buy</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="detail-order">
                                            <div class="row margin-0">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <p class="padding-l-15">size</p>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <p class="text-center">order</p>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <p class="detail-qty">qty</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="scrollbar-bar">
                                            <div class="items" ng-repeat="size in seller.sellerUnitSizes">
                                                <div class="row margin-0 row-items">
                                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                                        <p class="size">&nbsp;<span ng-bind="size.sizeName"></span></p>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 col-xs-2"><span ng-if="!seller.isTakeOffer" class="square-icon-minus" ng-click="cart.addSize($event, seller, size, 0)"><i class="fa fa-minus-square-o" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-2 col-sm-2 col-xs-2"><span>{{size.quantity}}</span></div>
                                                    <div class="col-md-2 col-sm-2 col-xs-2"><span ng-if="!seller.isTakeOffer" class="square-icon-plus" ng-click="cart.addSize($event,seller, size, 1)"><i class="fa fa-plus-square-o" aria-hidden="true"></i></span></div>
                                                    <div class="col-md-3 col-sm-3 col-xs-3 qty-details">of&nbsp;<span ng-bind="size.availableQuantity"></span><i ng-class="{'lm-lock' : size.reservedTimeSeconds > 0 , 'lm-open' : size.reservedTimeSeconds === 0}"></i></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="margin-b-15 margin-t-10 text-center items row-items">
                                            <button class="btn-lm btn-lm-add" ng-click="cart.updateCart($event, product, seller, size)" ng-disabled="seller.isTakeOffer || seller.isLineBuy">update linesheet</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td class="actions">
                                <p class="text-center" ng-repeat="seller in product.sellerUnits">
                                    <span class="reserved-wrapper" ng-click="cart.reserveOfferProduct($event, seller)">
                                        <i ng-mouseenter="seller.showTimer = true"
                                           ng-mouseleave="seller.showTimer = false" class=""
                                           ng-class="{
                                           'lm-lock reserved-green' : seller.reservedState === cart.RESERVED_STATES.GREEN,
                                           'lm-lock reserved-orange' : seller.reservedState === cart.RESERVED_STATES.ORANGE,
                                           'lm-open reserved-black' : seller.reservedState === cart.RESERVED_STATES.BLACK}"></i>
                                        <span class="reserved-details" ng-show="seller.showTimer">
                                            <span class="top">
                                                <span class="text">
                                                    <span ng-if="seller.reservedState === cart.RESERVED_STATES.GREEN || seller.reservedState === cart.RESERVED_STATES.ORANGE">{{'RESERVED_FOR_YOU' | translate}}</span>
                                                    <span ng-if="seller.reservedState === cart.RESERVED_STATES.BLACK">{{'RESERVED_NO_LONGER' | translate}}</span>
                                                </span>
                                                <timer ng-if="seller.resetTimer"
                                                       countdown="seller.reservedTimeSeconds" language="{{seller.cartItemSellerUnitIdentifier.offerProductId}}"
                                                       interval="1000">
                                                    <span class="bold">
                                                        {{hhours}}:{{mminutes}}:{{sseconds}}h
                                                    </span><span class="uppercase">Left</span>
                                                </timer>
                                            </span>
                                            <span class="bottom">
                                                <span class="reserved-arrow"></span>
                                            </span>
                                        </span>
                                        <span class="relock-details"
                                              ng-class="{
                                              'error' : seller.relockStatus === cart.RESERVED_RELOCK_STATES.PARTIAL,
                                              'success' : seller.relockStatus === cart.RESERVED_RELOCK_STATES.ALL}"
                                              ng-if="seller.displayRelockDetails">
                                            <span ng-if="seller.relockStatus === -1">
                                                {{'RESERVED_LOADING_RELOCK' | translate}} <i class="fa fa-spinner spinning"></i>
                                            </span>
                                            <span ng-if="seller.relockStatus > 0" ng-bind="seller.reservedMessage"></span>
                                            <span class="fa fa-times" ng-click="cart.closeRelock($event, seller)"></span>
                                        </span>
                                    </span>
                                    <i class="lm-active" ng-class="{'active' : seller.active}" ng-click="cart.setSellerActive($event, product, seller)"></i>
                                    <i class="lm-close" ng-class="{'active' : !seller.active}" ng-click="cart.setSellerActive($event, product, seller)"></i>
                                    <i class="lm-delete" aria-hidden="true" ng-click="cart.deleteFromCart($event, cart.cartDeleteTypes.SELLER, product, seller)"></i>
                                </p>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                        </tr>
                        <tr ng-show="cart.loading">
                            <td colspan="7" class="text-center padding-tb-20"><i class="fa fa-spinner spinning"></i></td>
                        </tr>
                    </tbody>
                </table>

                <table class="cart-items-table" ng-if="cart.groupByType !== 'default'" ng-repeat="(key, value) in cart.details.items | groupBy: cart.groupingField">
                    <thead>
                        <tr>
                            <th>
                                <div class="btn-group filter-dropdown">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{'TABLE_HEADER_DROPDOWN_TITLE' | translate}} <span class="fa fa-angle-down"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="cart.groupBy($event, 'default')"><a href="#">{{'TABLE_HEADER_DROPDOWN_DEFAULT' | translate}}</a></li>
                                        <li ng-click="cart.groupBy($event, 'category')"><a href="#">{{'TABLE_HEADER_DROPDOWN_CATEGORY' | translate}}</a></li>
                                        <li ng-click="cart.groupBy($event, 'brand')"><a href="#">{{'TABLE_HEADER_DROPDOWN_BRAND' | translate}}</a></li>
                                    </ul>
                                </div>
                            </th>
                            <th class="empty"></th>
                            <th translate="TABLE_HEADER_ITEMS"></th>
                            <th translate="TABLE_HEADER_PRICE"></th>
                            <th translate="TABLE_HEADER_TOTAL_COST"></th>
                            <th class="units-sizes-header" translate="TABLE_HEADER_SELLER_UNITS_SIZES"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cart-item" ng-class="{'open' : product.isOpen, 'inactive' : product.inactive}" ng-repeat="product in value | orderBy : '+inactive'">
                            <td class="item-image">
                                <img ng-src="{{product.productMainImageLink}}" />
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td class="hidden-xs"></td>
                            <td class="items">
                                <p class="name" ng-click="cart.open($event, product)">
                                    <i class="fa" ng-class="{'fa-angle-down' : !product.isOpen, 'fa-angle-up' : product.isOpen}"></i> {{product.productName}}
                                </p>
                                <p class="brand">
                                    {{product.brandName}}
                                </p>
                                <div class="more-info">
                                    <p class="details-info"><span class="details-info-label">{{'PRODUCT_CATEGORY' | translate }}:</span>{{product.categoryName}}</p>
                                    <p class="details-info"><span class="details-info-label">{{'PRODUCT_PRODUCT_ID' | translate }}:</span>{{product.productId}}</p>
                                    <p class="details-info"><span class="details-info-label">{{'PRODUCT_MATERIAL' | translate }}:</span>{{product.materialCode}}</p>
                                </div>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td class="prices">
                                <p class="unit-price">
                                    {{product.averageUnitCost | currency :undefined:0}}<span ng-show="product.sellerUnits.length > 1" translate="PRODUCT_PRICE_AVERAGE"></span>
                                </p>
                                <p class="discount">
                                    {{'PRODUCT_DISCOUNT' | translate }}: <span class="discount-percentage">{{product.averageUnitDiscountPercentage | number:0}}%</span><span ng-show="product.sellerUnits.length > 1" translate="PRODUCT_PRICE_AVERAGE"></span>
                                </p>
                                <div class="more-info">
                                    <p class="details-info"><span class="details-info-label">{{'PRODUCT_COLOR' | translate }}:</span>{{product.colorName}}</p>
                                    <p class="details-info"><span class="details-info-label">{{'PRODUCT_SEASON' | translate }}:</span>{{product.seasonName}}</p>
                                </div>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td>
                                <p class="price">
                                    {{product.totalLandedCost | currency:undefined:0}}
                                </p>
                                <p>
                                    &nbsp;
                                </p>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td class="units-sizes">
                                <div class="dropdown qty-sizes" ng-repeat="seller in product.sellerUnits">
                                    <div class="row units-size-info dropdown-toggle" data-toggle="dropdown">
                                        <div class="col-md-5 nopadding">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span>{{seller.sellerAlias}}</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <span class="unit-count"><span class="bold">{{seller.unitsCount}}</span>&nbsp;{{'SELLER_UNITS' | translate }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7 nopadding">
                                            <span class="units-price">@&nbsp;{{seller.lmUnitPrice | currency:undefined:0}}</span>
                                            <span class="total-price bold">{{seller.totalLandedCost | currency:undefined:0}}</span>
                                        </div>
                                    </div>
                                    <ul class="dropdown-menu qty-sizes-menu" aria-labelledby="dLabel">
                                        <li class="margin-t-15">
                                        <li class="margin-t-15">
                                            <div class="padding-l-15">
                                                <p class="dropdown-title">{{seller.sellerAlias}}</p>
                                                <p class="dropdown-subtitle">ships from&#58; {{seller.shipsFromRegion}}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row select-remove" ng-show="!seller.isLineBuy && !seller.isTakeOffer">
                                                        <p class="col-md-6 col-xs-6" ng-click="cart.selectAllSizes($event, seller, 0)">
                                                            Remove All
                                                        </p>
                                                        <p class="col-md-6 col-xs-6 text-right" ng-click="cart.selectAllSizes($event, seller, 1)">
                                                            Select All
                                                        </p>
                                                    </div>
                                                    <div class="row select-remove" ng-show="seller.isTakeOffer || seller.isLineBuy">
                                                        <p class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                            <span ng-show="seller.isTakeOffer" class="font-18">Take all</span>
                                                            <span ng-show="seller.isLineBuy && !seller.isTakeOffer">Line Buy</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="detail-order">
                                            <div class="row margin-0">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <p class="padding-l-15">size</p>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <p class="text-center">order</p>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <p class="detail-qty">qty</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="items" ng-repeat="size in seller.sellerUnitSizes">
                                            <div class="row margin-0 row-items">
                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                    <p class="size">&nbsp;<span ng-bind="size.sizeName"></span></p>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2"><span ng-if="!seller.isTakeOffer" class="square-icon-minus" ng-click="cart.addSize($event, seller, size, 0)"><i class="fa fa-minus-square-o" aria-hidden="true"></i></span></div>
                                                <div class="col-md-2 col-sm-2 col-xs-2"><span>{{size.quantity}}</span></div>
                                                <div class="col-md-2 col-sm-2 col-xs-2"><span ng-if="!seller.isTakeOffer" class="square-icon-plus" ng-click="cart.addSize($event,seller, size, 1)"><i class="fa fa-plus-square-o" aria-hidden="true"></i></span></div>
                                                <div class="col-md-3 col-sm-3 col-xs-3 qty-details">of&nbsp;<span ng-bind="size.availableQuantity"></span>&nbsp;<i ng-class="{'lm-lock' : size.reservedTimeSeconds > 0 , 'lm-open' : size.reservedTimeSeconds === 0}"></i></div>
                                            </div>
                                        </li>
                                        <li class="margin-b-15 margin-t-10 text-center items row-items">
                                            <button class="btn-lm btn-lm-add" ng-click="cart.updateCart($event, product, seller, size)" ng-disabled="seller.isTakeOffer || seller.isLineBuy">update linesheet</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                            <td class="actions">
                                <p class="text-center" ng-repeat="seller in product.sellerUnits">
                                    <span class="reserved-wrapper" ng-click="cart.reserveOfferProduct($event, seller)">
                                        <i ng-mouseenter="seller.showTimer = true"
                                           ng-mouseleave="seller.showTimer = false" class=""
                                           ng-class="{
                                           'lm-lock reserved-green' : seller.reservedState === cart.RESERVED_STATES.GREEN,
                                           'lm-lock reserved-orange' : seller.reservedState === cart.RESERVED_STATES.ORANGE,
                                           'lm-open reserved-black' : seller.reservedState === cart.RESERVED_STATES.BLACK}"></i>
                                        <span class="reserved-details" ng-show="seller.showTimer">
                                            <span class="top">
                                                <span class="text">
                                                    <span ng-if="seller.reservedState === cart.RESERVED_STATES.GREEN || seller.reservedState === cart.RESERVED_STATES.ORANGE">{{'RESERVED_FOR_YOU' | translate}}</span>
                                                    <span ng-if="seller.reservedState === cart.RESERVED_STATES.BLACK">{{'RESERVED_NO_LONGER' | translate}}</span>
                                                </span>
                                                <timer ng-if="seller.resetTimer"
                                                       countdown="seller.reservedTimeSeconds"
                                                       interval="1000">
                                                    <span class="bold">
                                                        {{hhours}}:{{mminutes}}:{{sseconds}}h
                                                    </span><span class="uppercase">Left</span>
                                                </timer>
                                            </span>
                                            <span class="bottom">
                                                <span class="reserved-arrow"></span>
                                            </span>

                                        </span>
                                        <span class="relock-details"
                                              ng-class="{
                                              'error' : seller.relockStatus === cart.RESERVED_RELOCK_STATES.PARTIAL,
                                              'success' : seller.relockStatus === cart.RESERVED_RELOCK_STATES.ALL}"
                                              ng-if="seller.displayRelockDetails">
                                            <span ng-if="seller.relockStatus === -1">
                                                {{'RESERVED_LOADING_RELOCK' | translate}} <i class="fa fa-spinner spinning"></i>
                                            </span>
                                            <span ng-if="seller.relockStatus > 0" ng-bind="seller.reservedMessage"></span>
                                            <span class="fa fa-times" ng-click="cart.closeRelock($event, seller)"></span>
                                        </span>
                                    </span>
                                    <i class="fa fa-check-circle" ng-class="{'active' : seller.active}" ng-click="cart.setSellerActive($event, product, seller)"></i>
                                    <i class="fa fa-times-circle" ng-class="{'active' : !seller.active}" ng-click="cart.setSellerActive($event, product, seller)"></i>
                                    <i class="fa fa-trash-o" aria-hidden="true" ng-click="cart.deleteFromCart($event, cart.cartDeleteTypes.SELLER, product, seller)"></i>
                                </p>
                                <div class="overlay" ng-show="product.inactive"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <span class="empty-cart-link" ng-click="cart.deleteFromCart($event, cart.cartDeleteTypes.ALL)">empty cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
