﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="adDetails.close()">&times;</button>
    <p class="modal-title">{{adDetails.addressModel.addressId > 0 ? 'EDIT_ADDRESS' : 'ADD_ADDRESS' | translate }}</p>
</div>
<form id="addressForm" ng-submit="adDetails.saveInfo()" name="adDetails.addressForm" novalidate>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center margin-b-10">
                <h5>{{adDetails.addressModel.addressId > 0 ? 'MODIFY' : 'ADD' | translate}} {{adDetails.addressModel.addressTypeId == 1 ? ' BILLING_ADDRESS' : ' SHIPPING_ADDRESS' | translate}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6 left-box">
                <div class="form-group margin-0">
                    <div class="form-group">
                        <label class="floating" ng-show="adDetails.addressForm.street1.$dirty && !adDetails.addressForm.street1.$error.required">{{'STREET'| translate}} 1</label>
                        <input id="street1" class="form-control input-modal margin-b-15" ng-model="adDetails.addressModel.street1" ng-maxlength="100" name="street1" placeholder="{{adDetails.address.street1 != null ? adDetails.address.street1 : 'STREET 1'}}" type="text" required>
                        <div class="error-messages" ng-messages="adDetails.addressForm.street1.$error" ng-show="adDetails.addressForm.street1.$dirty" role="alert">
                            <div ng-message="required" class="message">{{'FIELD_REQUIRED'| translate}}</div>
                            <div ng-message="maxlength" class="message">{{'FIELD_TOO_LONG'| translate}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="floating" ng-show="adDetails.addressForm.countryId.$dirty && !adDetails.addressForm.countryId.$error.required">{{'COUNTRY'| translate}}</label>
                        <select id="country" class="form-control input-modal margin-b-15 center" ng-change="adDetails.updateStates()" name="countryId" ng-class="{'light' : adDetails.addressForm.countryId.$error.required}" ng-options="item.id as item.countryName for item in adDetails.countries" ng-model="adDetails.addressModel.countryId" required></select>
                        <div class="error-messages" ng-messages="adDetails.addressForm.countryId.$error" ng-show="adDetails.addressForm.countryId.$dirty" role="alert">
                            <div ng-message="required" class="message">{{'FIELD_REQUIRED'| translate}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="floating" ng-show="adDetails.addressForm.city.$dirty && !adDetails.addressForm.city.$error.required">{{'CITY'| translate}}</label>
                        <input id="city" class="form-control input-modal margin-b-15" ng-model="adDetails.addressModel.city" ng-maxlength="50" name="city" placeholder="{{adDetails.address.city != null ? adDetails.address.city : 'CITY'}}" type="text" required>
                        <div class="error-messages" ng-messages="adDetails.addressForm.city.$error" ng-show="adDetails.addressForm.city.$dirty" role="alert">
                            <div ng-message="required" class="message">{{'FIELD_REQUIRED'| translate}}</div>
                            <div ng-message="maxlength" class="message">{{'FIELD_TOO_LONG'| translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 right-box">
                <div class="form-group margin-0">
                    <div class="form-group">
                        <label class="floating" ng-show="adDetails.addressForm.street2.$dirty && !adDetails.addressForm.street2.$error.required">{{'STREET'| translate}} 2</label>
                        <input id="street2" class="form-control input-modal margin-b-15" ng-model="adDetails.addressModel.street2" ng-maxlength="100" name="street2" placeholder="{{adDetails.address.street2 != null ? adDetails.address.street2 : 'STREET 2'}}" type="text">
                        <div class="error-messages" ng-messages="adDetails.addressForm.street2.$error" ng-show="adDetails.addressForm.street2.$dirty" role="alert">
                            <div ng-message="maxlength" class="message">{{'FIELD_TOO_LONG'| translate}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="floating" ng-show="adDetails.addressForm.stateId.$dirty && adDetails.addressForm.stateId.$error.required">{{'STATE'| translate}}</label>
                        <select id="state" class="form-control input-modal margin-b-15 center" ng-disabled="adDetails.addressForm.countryId.$error.required" name="stateId" ng-class="{'light' : adDetails.addressForm.stateId.$error.required}" ng-options="item.stateId as item.stateName for item in adDetails.states" ng-model="adDetails.addressModel.stateId" required></select>
                        <div class="error-messages" ng-messages="adDetails.addressForm.stateId.$error" ng-show="adDetails.addressForm.stateId.$dirty" role="alert">
                            <div ng-message="required" class="message">{{'FIELD_REQUIRED'| translate}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="floating" ng-show="adDetails.addressForm.zipCode.$dirty && !adDetails.addressForm.zipCode.$error.required">{{'ZIP_CODE'| translate}}</label>
                        <input id="zipCode" class="form-control input-modal margin-b-15" ng-model="adDetails.addressModel.zipCode" ng-maxlength="11" name="zipCode" placeholder="{{adDetails.address.zipCode != null ? adDetails.address.zipCode : 'ZIP CODE'}}" type="text" required>
                        <div class="error-messages" ng-messages="adDetails.addressForm.zipCode.$error" ng-show="adDetails.addressForm.zipCode.$dirty" role="alert">
                            <div ng-message="required" class="message">{{'FIELD_REQUIRED'| translate}}</div>
                            <div ng-message="maxlength" class="message">{{'FIELD_TOO_LONG'| translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-6 col-xs-6 text-left">
                <button class="btn-lm btn-lm-cancel margin-b-20" type="button" ng-click="adDetails.close()">{{'CANCEL'| translate}}</button>
            </div>
            <div class="col-md-6 col-xs-6 text-right">
                <button id="submit" class="btn-lm btn-lm-save margin-b-20" type="submit" ng-disabled="!adDetails.addressForm.$dirty && (adDetails.addressForm.$invalid || adDetails.isLoading)">
                    {{'SAVE'| translate}}
                    <i class="fa fa-spinner spinning" ng-show="adDetails.isLoading"></i>
                </button>
            </div>
        </div>
    </div>
</form>
