<header class="header-luxury header-auth">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 logo">
        <img src="images/logos/3.png" class="pointer"
            ng-click="main.navigateFromLogo($event)" alt="logo">
      </div>
    </div>
  </div>
</header>
