<div class="pwd-strength-messages">
  <div class="message">
    <span class="error-icon">
      <i class="" aria-hidden="true"
        ng-class="{ 'lm-check': valid(pwdLength), 'lm-uncheck': !valid(pwdLength)}"></i></span>
    <span ng-class="{ 'valid': valid(pwdLength), 'invalid': !valid(pwdLength) }">6 characters minimum</span>
    </div>
  <div class="message">
    <span class="error-icon">
      <i class="" aria-hidden="true"
        ng-class="{ 'lm-check': valid(pwdNo), 'lm-uncheck': !valid(pwdNo)}"></i></span>
    <span ng-class="{ 'valid': valid(pwdNo), 'invalid': !valid(pwdNo) }">must contain one number</span>
    </div>
  <div class="message">
    <span class="error-icon">
      <i class="" aria-hidden="true"
        ng-class="{ 'lm-check': valid(pwdUpper), 'lm-uncheck': !valid(pwdUpper)}"></i></span>
    <span ng-class="{ 'valid': valid(pwdUpper), 'invalid': !valid(pwdUpper) }">one uppercase</span>
  </div>
</div>
