﻿<div class="container">
    <div class="row top-register">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="title text-center margin-t-40">Terms and conditions</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis leo sed libero pharetra rhoncus. Suspendisse arcu enim, lacinia nec felis sed, pretium aliquet ipsum. Aenean ipsum tortor, lacinia a fringilla vitae, accumsan a neque. Quisque ultricies tempus metus congue sodales. Nullam quis commodo nisl. Nunc fringilla augue a nulla scelerisque, nec sollicitudin turpis varius. Proin in fringilla turpis, id laoreet turpis. Pellentesque vulputate rhoncus volutpat. Vestibulum quis ultrices magna. Vivamus eu ante ipsum. Fusce sollicitudin semper nibh. Sed iaculis lorem ut leo hendrerit, non consectetur diam scelerisque. Sed mattis venenatis dui ut dictum. Maecenas iaculis ligula sollicitudin laoreet laoreet.</p>
            <p>Curabitur nec dictum arcu, sed mattis turpis. Aliquam scelerisque commodo ante vestibulum hendrerit. Quisque eget mollis massa, sed varius diam. Aenean quis molestie libero. Mauris rutrum neque sit amet mattis posuere. Quisque auctor felis id posuere commodo. Donec tempor nec orci ut faucibus. Curabitur dictum risus eget dolor tristique efficitur. Vivamus viverra sapien nunc, id hendrerit tellus ornare sit amet. Aenean ac massa augue. Etiam vulputate ex sapien, non hendrerit urna accumsan a. Vestibulum ac sodales mauris, ut pretium diam.</p>
            <p>Maecenas sem quam, luctus eget nulla vitae, rutrum condimentum nibh. Nullam lacinia vulputate sem. Duis non facilisis leo, sed fermentum velit. Quisque et consectetur enim, a euismod enim. Duis eu lorem aliquet, fringilla metus quis, dignissim mi. Sed faucibus sapien mi, nec tempor risus molestie ut. Duis leo erat, sodales quis mauris quis, congue bibendum enim. Nullam aliquam erat et lacinia porttitor. Praesent vel ante a eros volutpat dapibus. Etiam sodales fringilla tortor, quis finibus elit dapibus id. Nunc vel accumsan purus, at gravida nunc. Fusce imperdiet ornare nisi, ut tristique turpis ultricies non. Sed ut nisi vel est accumsan porta.</p>
            <p>Sed tincidunt urna nibh, ut condimentum augue sollicitudin in. Etiam quis massa sapien. Aliquam sit amet eleifend dolor. Donec urna ipsum, dictum in sollicitudin ut, cursus ut augue. Aliquam molestie ipsum sed magna ornare, pellentesque consectetur mauris pharetra. Ut ornare vehicula nulla sit amet molestie. Vivamus id turpis eget justo interdum faucibus sit amet eget sem. In justo dolor, maximus ac lacus non, congue laoreet tellus. Suspendisse vel est justo. Quisque ac nunc finibus ex eleifend sollicitudin. Vestibulum nibh orci, tristique in arcu id, gravida rutrum ipsum. Fusce et facilisis velit. Nam a quam eu ex egestas auctor. Praesent eget dui rhoncus, laoreet nisl et, suscipit velit. Nullam pellentesque pretium est at molestie.</p>
            <p>Duis consectetur ultricies tellus. Donec feugiat viverra commodo. Cras ultrices tristique sapien, et porta turpis placerat molestie. Quisque et nulla viverra, pretium ligula eu, pellentesque neque. Maecenas in rutrum sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed fringilla dapibus eros sed hendrerit. Cras posuere purus vitae molestie posuere. Nunc auctor tortor eros, faucibus gravida neque lacinia non. Nam a gravida erat. Ut faucibus ultricies erat. Vivamus eget nunc eu arcu dictum molestie eget ut quam. Donec pretium augue quis blandit laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            <p class="text-center margin-t-40">
                <a href="#" ui-sref="auth.register">Go back to Register</a>
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>